<template>
 <section>


  <section class="jumbo jumbo--image-left">
    <div class="text">
        <h1 class="title">{{$localize(edition,'archive_title')}}</h1>
        <div class="excerpt">
            <p class="small" v-html="$apiImages($localize(edition,'archive_body'))"></p>
            <!---<div class="cta">
                <a class="button button--inverted" href="#">Primary button</a>
                <a href="#">Secundary button</a>
            </div> -->
        </div>
    </div>
    <figure>
        <template v-if="edition.attributes.embed">
          <IFramePlayer :embed="edition.attributes.embed" ></IFramePlayer>
        </template>
        <template v-if="!edition.attributes.embed && $localize(edition,'poster').data">
            <img :src="$img($localize(edition,'poster'), 'medium')" ></img>
            <figcaption v-if="edition.attributes.poster.data.attributes.caption">{{edition.attributes.poster.data.attributes.caption}}</figcaption>

        </template>
    </figure>
  </section>
  <section class="section" v-for="track in tracks" :key="track.id">
      <h3 class="heading">{{$localize(track,'name')}}</h3>
      <section class="columns columns--2">
          <div class="column column--narrow">
              <p class="small">{{$localize(track,'headline')}}</p>
          </div>
          <div class="column column--wide">
              <VideoList :track="track"></VideoList>
          </div>
      </section>
  </section>

  <section class="section">
    <h3 class="heading">{{$t('lobby.sponsors')}}</h3>
    <section class="columns columns--2">
        <div class="column column--narrow">
            <p class="small">{{$t('lobby.sponsors.body')}}</p>
        </div>
        <div class="column column--wide">
            <SponsorSection :edition="edition" />
            
        </div>
    </section>
</section>

  <!--   <section class="speakers-header">
      <div class="title">
        <CHeading as="h1" v-html="$localize(edition,'archive_title')"></CHeading>
      </div>
      <div class="description">
        <template v-if="edition.attributes.embed">
          <IFramePlayer :embed="edition.attributes.embed" ></IFramePlayer>
        </template>
        <template v-if="!edition.attributes.embed && $localize(edition,'poster').data">
          <CAspectRatioBox  mb="4" :ratio="$localize(edition,'poster').data.attributes.width / $localize(edition,'poster').data.attributes.height">
            <CImage :src="$img($localize(edition,'poster'), 'medium')" ></CImage>
          </CAspectRatioBox>
        </template>


        <CBox mb="5" style="white-space: pre-line" class="content" v-html="$apiImages($localize(edition,'archive_body'))"></CBox>
        
       <div class="tracks">
          <CBox
            v-for="track in tracks"
            :key="track.id"
            >
            <CHeading>{{$localize(track,'name')}}</CHeading>
            <VideoList :track="track"></VideoList>

          </CBox>
        </div>
      </div>
      
    </section>
    <section class="lobby-heading">
      <CHeading as="h3">"{{$localize(edition,'title')}}" in {{edition.attributes.year}} {{$t('archive.sponsors')}}</CHeading>
    </section>
    <SponsorSection :edition="edition"/> -->

  </section>
</template>

<script lang="js">

import NowNext from '~/components/VideoList';
export default {
  name: 'OnDemand',
  components: {
    
  },
  computed: {
    edition() {
      return this.$store.state.editions.find(e => e.attributes.slug == this.$route.params.slug);
    },
    tracks() {

      return this.edition.attributes.tracks.data
    }
  },
  data () {
    return {
    }

  },
  head() {
      return {
        title: this.$localize(this.edition,'archive_title')  + " - " + this.$i18n.t('site.title')
      }
  }
}
</script>


<style lang="scss">
// .speakers-header {
//   margin: var(--sizes-16) 0;
//   padding: var(--sizes-4) var(--sizes-4);

//   @include responsive($md) {
//     display: grid;
//     grid-template-columns: minmax(26.3%, 260px) 1fr ;
//   }

//   @include responsive($lg) {
//     padding: var(--sizes-4) var(--sizes-8);
//     grid-template-columns: minmax(26.3%, 260px) 1fr ;
//   }

//   .title {
//     h1 {
//       font-size: var(--fontSizes-6xl);
//       line-height: var(--lineHeights-none);
//     }

//     .datetime {
//       margin: 0 0 var(--sizes-4) 0;
//     }

//     button, a {
//       margin: 0 var(--sizes-2) var(--sizes-2) 0;
//     }
//   }



//   .description {
//     margin-top: var(--sizes-8);

//     @include responsive($md) {
//       margin-top: 0;
//       margin-left: var(--sizes-8);
//       max-width: var(--sizes-containers-sm);
//     }

//     .speakers {
//         display: grid;
//         grid-template-columns: repeat(1, 1fr);
//         gap: var(--sizes-1);
//         padding: var(--sizes-4) 0;

//         @include responsive($md) {
//           grid-template-columns: repeat(2, 1fr);
          
//         }

        
//       }
//   }
// }

</style>
