<template>
  <section>
    <section class="jumbo jumbo--image-none">
    <div class="text">
        <h1 class="title">{{ $localize(track,'name') }}</h1>
        <div class="excerpt">
            <p class="small" v-html="$localize(track,'headline')"></p>
        </div>
    </div>
  </section>
  <section class="section">
      <div class="tablist" role="tablist">
        <button
          role="tab"
          v-for="tag in tracks"
          :key="tag.id"
          :aria-selected="localePath(`/track/${tag.attributes.slug}`) == $route.path"
          @click="go(localePath(`/track/${tag.attributes.slug}`))" 
      >{{$localize(tag,"hashtag")}}</button>
      </div>
  </section>
  <section class="section" v-if="$localize(track,'description')">
      <article class="article" >
        <main>
          <StrapiContent :content="$localize(track,'description')"></StrapiContent>
        </main>
      </article>
  </section>


  <section class="section " style="--background: #32293d;">
    <div class="timetable timetable--compact timetable--track" style="">
        <section class="columns columns--2">
            <div class="column" v-for="(day,index) in daysAndEvents"
                :key="1000+ day.id">
                 <h3 class="heading">{{ day.full }}</h3>
                <ProgramGridItem v-for="event in day.events"  :key="event.id" :event="event" :show-location="true" cols="10"></ProgramGridItem>
            </div>
        </section>
    </div>
  </section>
</section>
</template>

<script lang="js">


export default {
  name: 'TrackPage',
  components: {},
  methods: {
    go(uri){
      this.$router.push(uri)
    },
  },
  computed: {
    track() {
      return this.$store.getters['trackBySlug']( this.$route.params.slug ) 
    },
    daysAndEvents() {
      let dates = [];

      for (let date of this.dates) {
        date.events = _.filter(this.$store.state.events,  (event)=> {
          return _.some(event.attributes.tracks.data,  (track)=> {
            return track.attributes.slug == this.$route.params.slug
          }) && (event.attributes.start.substr(0,10) == date.slug);
        });
        dates.push(date);
      }

      return dates;
    },
    events() {
      return _.filter(this.$store.state.events,  (event)=> {
        return _.some(event.attributes.tracks.data,  (track)=> {
          return track.attributes.slug == this.$route.params.slug
        });
      });
    }
  },
  async validate({ params, store }) {
    if (!store.getters['trackBySlug']( params.slug )) return false;
    return true;
  },
  data () {
    return {
      lastDate: null
    }
  },
  head() {
      return {
        title: this.$localize(this.track,'name') + " " + this.$i18n.t('site.title')
      }
  },
  jsonld() {

    const jsonld = {
      '@context': 'https://schema.org',
      '@type': 'EventSeries',
      name: this.$localize(this.track,'name'),
      description:this.$localize(this.track,'description'),
      eventAttendanceMode: 'https://schema.org/MixedEventAttendanceMode',
      eventStatus: 'https://schema.org/EventScheduled',
      isAccessibleForFree: true,
      organizer:{
          "@type": "Organization",
          "name": "PublicSpaces",
          "url": "https://publicspaces.net"
      }
    };

    const subEvents = [];
    if (this.events.length > 0) {
      for (let event of this.events) {
        if (event.attributes.type == 'break') continue;
        subEvents.push({
          "@type":"Event",
          "name": this.$localize(event,'name'),
          "startDate": this.$moment(event.attributes.start).toISOString(),
          "url": `/session/${event.attributes.slug}`
        })
      }
    }
 

    jsonld.subEvents = subEvents;

    return jsonld;
  },
}
</script>

<style lang="scss">
.timetable--track .session {
  margin-bottom: 20px;
}
// .topic-header {
//   margin: var(--sizes-8) 0;
//   padding: var(--sizes-4) var(--sizes-4);

//   @include responsive($md) {
//     display: grid;
//     grid-template-columns: minmax(26.3%, 380px) 1fr;
//     margin: var(--sizes-16) 0;
//   }

//   @include responsive($lg) {
//     padding: var(--sizes-4) var(--sizes-8);
//   }

//   .title {
//     padding-right: var(--sizes-16);
//     min-width: 300px;

//     h1 {
//       font-size: var(--fontSizes-5xl);
//       line-height: var(--lineHeights-none);

//       @include responsive($lg) {
//         font-size: var(--fontSizes-6xl);
//       }
//     }
//   }

//   .description {
//     margin-top: var(--sizes-8);

//     @include responsive($md) {
//       margin-top: 0;

//       max-width: var(--sizes-containers-sm);
//     }

//     .other-topics {
//       margin-top: var(--sizes-4);

//       h2 {
//         font-size: var(--fontSizes-md);
//         margin-bottom: var(--sizes-4);
//         margin-top: var(--sizes-4);
//       }

//       .stack {
//         display: flex;
//         flex-wrap: wrap;

//         div {
//           margin: 0 var(--sizes-2) var(--sizes-2) 0;
//         }
//       }
//     }
//   }
// }

// .topic-date {
//   padding: var(--sizes-4) var(--sizes-4);
//   border-bottom: var(--borders-1px) var(--colors-ps-grey-dark);

//   @include responsive($lg) {
//     padding: var(--sizes-4) var(--sizes-8);
//   }
// }
</style>
