
<template>
<section>
  <section class="jumbo">
    <div class="text">
        <h1 class="title">{{ $localize(person,'name') }}</h1>
        <div class="excerpt">
            <p class="small" v-html="$localize(person,'headline')"></p>
            <div class="bio"><StrapiContent :content="cleanedBio"></StrapiContent></div>
            <div class="contact" v-if="person.attributes.contact">
              <ul>
                <li class="web" v-if="person.attributes.links.length > 0">
                  <span class="type">w:</span><a :href="link.url" v-for="link in person.attributes.links" :key="link.id"  target="_blank">{{link.title}}</a>
                </li>
               
                <li class="email" v-if="person.attributes.contact.email">
                  <span class="type">mail:</span><a :href="`mailto:${person.attributes.contact.email}`">{{person.attributes.contact.email}}</a>
                </li>
                <li class="twitter" v-if="person.attributes.contact.twitter && person.attributes.contact.twitter != '@'">
                  <span class="type">x:</span><a :href="`https://twitter.com/${person.attributes.contact.twitter}`" target="_blank">{{person.attributes.contact.twitter}}@twitter.com</a>
                </li>
                <li class="matrix" v-if="person.attributes.contact.matrix">
                  <span class="type">matrix:</span><a :href="`https://matrix.to/#/${person.attributes.contact.matrix}`" target="_blank">{{person.attributes.contact.matrix}}</a>
                </li>
                <li class="activitypub" v-if="person.attributes.contact.activitypub">
                 <span class="type">fediverse:</span><a :href="`https://social.publicspaces.net/${person.attributes.contact.activitypub.charAt(0)=='@'?'':'@'}${person.attributes.contact.activitypub}`" target="_blank">{{person.attributes.contact.activitypub}}</a>
                </li>
                <li class="twitter" v-if="person.attributes.contact.linkedin">
                  <span class="type">linkedin:</span><a :href="`${person.attributes.contact.linkedin}`" target="_blank">{{person.attributes.contact.linkedin}}</a>
                </li>
              </ul>
            </div>
        </div>
    </div>
    <figure class="big-avatar" v-if="person.attributes.avatar.data">
        <div>
          <div class="bg-cover bg-center aspect-square rounded-full" :style="`background-image: url( ${$ava(person.attributes.avatar)})`"></div>
        <!-- <figcaption v-if="person.attributes.avatar.data.attributes.caption">{{person.attributes.avatar.data.attributes.caption}}</figcaption> -->
        <figcaption v-if="person.attributes.avatar.data.attributes.caption">{{person.attributes.avatar.data.attributes.caption}}</figcaption>
        </div>
    </figure>
</section>

<!-- sessions -->
  <section class="section" v-for="edition in editions" :key="edition.year">
      <h3 class="heading">{{edition.year}}</h3>
      <section class="columns columns--2">
          <div class="column column--narrow">
              <p class="small" v-if="edition.year == currentEdition.attributes.year">{{$t('speaker.presence', {speaker:$localize(person,'name')})}}</p>
              <p class="small" v-if="edition.year != currentEdition.attributes.year" v-html="$t('speaker.presence.previous', {

                        speaker:$localize(person,'name'), 
                        year:edition.year, 
                        edition: $localize(edition.edition,'title')

                      })"></p>
          </div>
          <div class="column column--wide">
              <VideoList :events="edition.events"></VideoList>
          </div>
      </section>
  </section>

<!-- end session -->
</section>

</template>

<script lang="js">


import IFramePlayer from '~/components/IFramePlayer';
import LocationTag from '~/components/LocationTag';
import SpeakerAvatar from '~/components/SpeakerAvatar';

export default {
  name: 'EventPage',
  components: { },
  computed: {
    editions() {
      let prescence = [];
      //console.log(this.person.attributes.events.data);

      let events = this.$store.state.events.filter(event=>{
        
        if (_.some(event.attributes.hosts.data,  (host)=> {
            return host.id == this.person.id
        })) return true;

        if (_.some(event.attributes.speakers.data,  (speaker)=> {
            return speaker.id == this.person.id
        })) return true;
        return false;

      })

      for(let item of events){
        //console.log(item.attributes)
        let year = item.attributes.start.substr(0,4);
        let existingType = prescence.find(typeItem => typeItem.year === year);
        if(existingType){
          existingType.events.push(item);
        }else{
          prescence.push({
            year: year,
            edition: this.$store.getters['editionByYear']( parseInt(year) ),
            events: [item]
          });
        }
      }

      prescence.sort((a,b)=>{ return a.year < b.year ? 1 : -1})
      return prescence;
    },
    cleanedBio() {
      let bio = this.$localize(this.person,'bio');
      bio = bio.replace(/<span[^>]*>/g,"")
      bio = bio.replace(/<\/span[^>]*>/g,"")
      return bio;
    },
    person() {
      return this.$store.getters['personBySlug']( this.$route.params.slug )
    },
    now() {
      return this.$moment().isAfter(this.$moment(this.event.start).subtract(20,"mins"));
    }
  },
  async validate({ params, store }) {
    if (!store.getters['personBySlug']( params.slug )) return false;
    return true;
  },
  data () {
    return {
    }
  },
  head() {
      return {
        title: this.$localize(this.person,'name') + " " + this.$i18n.t('site.title')
      }
  },
  jsonld() {

    const jsonld = {
      '@context': 'https://schema.org',
      '@type': 'Person',
      name: this.$localize(this.person,'name'),
      description:this.$localize(this.track,'headline')
    };

    const performerIn = [];
    if (this.person.attributes.events.data.length > 0) {
      for (let event of this.person.attributes.events.data) {
        performerIn.push({
          "@type":"Event",
          "name": this.$localize(event,'name'),
          "startDate": this.$moment(event.attributes.start).toISOString(),
          "url": `/session/${event.attributes.slug}`
        })
      }
    }
 

    jsonld.performerIn = performerIn;

    return jsonld;
  },
}
</script>

<style lang="scss">
element {
}

.big-avatar {
  > * {
    width: 50%;
    margin: auto;
    
  }
  figcaption {
    text-align: center;
  }
}

.contact {
  .type {
    width: 90px;
    display:inline-block
  }
  li {
    list-style-type: none;
    text-align: left;
  }
  
}


</style>
