<template>
  <section class="section">
    <h3 class="heading">{{ $t('bio.title') }}</h3>
    <section class="columns columns--2">
        <div class="column column--narrow">
            <p class="small">{{ $t('bio.subtitle') }}</p>
        </div>
        <div class="column column--wide">
            <section class="columns columns--2">
              <BioForm></BioForm>
            </section>
        </div>
    </section>
  </section>
</template>

<script lang="js">

import BioForm from '~/components/BioForm';
export default {
  name: 'BioPage',
  components: {},
  data () {
    return {}
  },
  head() {
      return {
        title: this.$i18n.t('bio.title') + " - " + this.$i18n.t('site.title')
      }
  }
}
</script>
<style lang="scss">

</style>
