@font-face {
    font-family: "geomanist";
    font-weight: 300;
    font-style: normal;
    src: url("~/static/fonts/geomanist-light-webfont.woff2") format("woff2"),
      url("~/static/fonts/geomanist-light-webfont.woff") format("woff");
  }
  
  @font-face {
    font-family: "geomanist";
    font-weight: 300;
    font-style: italic;
    src: url("~/static/fonts/geomanist-light-italic-webfont.woff2")
        format("woff2"),
      url("~/static/fonts/geomanist-light-italic-webfont.woff") format("woff");
  }
  
  @font-face {
    font-family: "geomanist";
    font-weight: 400;
    font-style: normal;
    src: url("~/static/fonts/geomanist-regular-webfont.woff2") format("woff2"),
      url("~/static/fonts/geomanist-regular-webfont.woff") format("woff");
  }
  
  @font-face {
    font-family: "geomanist";
    font-weight: 400;
    font-style: italic;
    src: url("~/static/fonts/geomanist-regular-italic-webfont.woff2")
        format("woff2"),
      url("~/static/fonts/geomanist-regular-italic-webfont.woff") format("woff");
  }
  
  @font-face {
    font-family: "geomanist";
    font-weight: 500;
    font-style: normal;
    src: url("~/static/fonts/geomanist-book-webfont.woff2") format("woff2"),
      url("~/static/fonts/geomanist-book-webfont.woff") format("woff");
  }
  
  @font-face {
    font-family: "geomanist";
    font-weight: 500;
    font-style: italic;
    src: url("~/static/fonts/geomanist-book-italic-webfont.woff2") format("woff2"),
      url("~/static/fonts/geomanist-book-italic-webfont.woff") format("woff");
  }
  
  @font-face {
    font-family: "geomanist";
    font-weight: 600;
    font-style: normal;
    src: url("~/static/fonts/geomanist-medium-webfont.woff2") format("woff2"),
      url("~/static/fonts/geomanist-medium-webfont.woff") format("woff");
  }
  
  @font-face {
    font-family: "geomanist";
    font-weight: 600;
    font-style: italic;
    src: url("~/static/fonts/geomanist-medium-italic-webfont.woff2")
        format("woff2"),
      url("~/static/fonts/geomanist-medium-italic-webfont.woff") format("woff");
  }
  
  @font-face {
    font-family: "geomanist";
    font-weight: 700;
    font-style: italic;
    src: url("~/static/fonts/geomanist-bold-italic-webfont.woff2") format("woff2"),
      url("~/static/fonts/geomanist-bold-italic-webfont.woff") format("woff");
  }
  
  @font-face {
    font-family: "geomanist";
    font-weight: 700;
    font-style: normal;
    src: url("~/static/fonts/geomanist-bold-webfont.woff2") format("woff2"),
      url("~/static/fonts/geomanist-bold-webfont.woff") format("woff");
  }
  