<template>
<section>
  <section class="jumbo jumbo--image-none">
    <div class="text">
        <h1 class="title">{{ $t(type+'.title') }}</h1>
        <div class="excerpt">
            <p class="small">{{ $t(type+'.body') }}</p>
        </div>
        <div class="cta">
                <p class="small">{{ $t(type+'.location') }}</p>
        </div>
    </div>
    <!-- <figure>
        <img src="https://picsum.photos/1920/1080" width="300" height="200" alt="" />
        <figcaption>Caption / Credit</figcaption>
    </figure> -->
  </section>
  <section :class="`jumbo ${company.attributes.layout}`" v-for="company in bazaar"
            :key="company.id" :style="`--background: ${company.attributes.color_background || 'white'}; --foreground: ${company.attributes.color_foreground || 'black'}`">
    <div class="text">
        <h1 class="title">{{ $localize(company,'name') }}</h1>
        <div class="excerpt">
            <div class="small" v-html="cleanup($localize(company,'body'))"></div>
            <div class="cta">
                <a v-if="company.attributes.speeddate_url" class="button button--inverted" target="_blank" :href="company.attributes.speeddate_url">{{ $t('bazaar.cta.speeddate') }}</a>
                <a v-if="company.attributes.url" target="_blank" :href="company.attributes.url">{{ $t('bazaar.cta.website') }}</a>
            </div>
        </div>
    </div>
    <figure class="bazaar" v-if="company.attributes.image.data">
        <img :src="$img(company.attributes.image, 'medium')" alt="" />
    </figure>
  </section>



</section>
</template>
<script lang="js">
export default {
  name: 'Bazaar',
  props: ['type'],
  components: {
    
  },
  data () {
    return {
    }

  },
  computed: {
    bazaar() {
      return this.$store.state.bazaar.filter((b)=>{
        return b.attributes.type == this.type;
      });
    }
  },
  methods: {
    cleanup(text) {
      return text.replace(/color:[^;]*;/, "")
    }
  },

}
</script>
<style lang="scss">

.jumbo figure.bazaar img {
  flex: unset ;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  margin: auto;
}
</style>
