<template>
  <div class="container">
        <Transition>
        <div v-if="isSubmitted">
          <div class="confirmation" style="">
             <template v-if="isSuccess">
                  <h3>
                    {{ $t('bio.success.title') }}
                  </h3>
                  <p  v-html="$t('bio.success.body')">
                  </p>
              </template>
                <template v-if="!isSuccess">
                  <h3>
                    {{ $t('bio.error.title') }}
                  </h3>
                  <p v-html="$t('bio.error.body')">
                  </p>
              </template>
          </div>
        </div>
        <div v-if="!isSubmitted">


         <form class="column">
          <div class="column form">
            <label>
              <span>{{ $t('bio.name') }}</span>
              <span class=" small text-red-700 font-light" v-show="blur.name && !validName">
                * {{ $t('bio.name.invalid') }}
              </span>
              <input class="" type="text" v-model="input.name" @blur="blur.name = true" id="name" required aria-describedby="name-helper-text" />
              <p class="small" id="name-helper-text">{{ $t('bio.name.helper') }}</p>
            </label>
            <label>
              <span>{{ $t('bio.role') }}</span>
              <span class=" small text-red-700 font-light" v-show="blur.role && !validRole">
                * {{ $t('bio.role.invalid') }}
              </span>
              <input type="text" v-model="input.role" @blur="blur.role = true" id="role" required aria-describedby="role-helper-text" />
              <p class="small" id="role-helper-text">{{ $t('bio.role.helper') }}</p>
            </label>
            <label>
              <span>{{ $t('bio.avatar') }}</span>
              <span class=" small text-red-700 font-light" v-on:change="handleFile( $event )" v-show="blur.avatar && !validAvatar">
                * {{ $t('bio.avatar.invalid') }}
              </span>
              <input type="file"  @blur="blur.avatar = true" ref="file" @change="handleFile( $event )" id="avatar" required aria-describedby="avatar-helper-text" />
              <p class="small" id="avatar-helper-text">{{ $t('bio.avatar.helper') }}</p>
            </label>
            <label>
              <span>{{ $t('bio.bio') }}</span>
              <span class=" small text-red-700 font-light" v-show="blur.bio && !validBio">
                * {{ $t('bio.bio.invalid') }}
              </span>
              <textarea v-model="input.bio" @blur="blur.bio = true" id="bio" required aria-describedby="bio-helper-text" ></textarea>
              <p class="small" id="bio-helper-text">{{ $t('bio.bio.helper') }}</p>
            </label>
            <label>
              <span>{{ $t('bio.email') }}</span>
              <span class=" small text-red-700 font-light" v-show="blur.email && !validEmail">
                * {{ $t('bio.email.invalid') }}
              </span>
              <input type="email" v-model="input.email" @blur="blur.email = true" id="email" required aria-describedby="email-helper-text" autocomplete="off" />
              <p class="small" id="email-helper-text">{{ $t('bio.email.helper') }}</p>
            </label>
             <label>
              <span>{{ $t('bio.activitypub') }}</span>
              <span class=" small text-red-700 font-light" v-show="blur.activitypub && !validActivitypub">
                * {{ $t('bio.activitypub.invalid') }}
              </span>
              <input type="text" v-model="input.activitypub" @blur="blur.activitypub = true" id="activitypub" aria-describedby="activitypub-helper-text" autocomplete="off" />
              <p class="small" id="activitypub-helper-text">{{ $t('bio.activitypub.helper') }}</p>
            </label>

            <label>
              <span>{{ $t('bio.twitter') }}</span>
              <span class=" small text-red-700 font-light" v-show="blur.twitter && !validTwitter">
                * {{ $t('bio.twitter.invalid') }}
              </span>
              <input type="text" v-model="input.twitter" @blur="blur.twitter = true" id="twitter" aria-describedby="twitter-helper-text" autocomplete="off" />
              <p class="small" id="twitter-helper-text">{{ $t('bio.twitter.helper') }}</p>
            </label>

            <label>
              <span>{{ $t('bio.matrix') }}</span>
              <span class=" small text-red-700 font-light" v-show="blur.matrix && !validMatrix">
                * {{ $t('bio.matrix.invalid') }}
              </span>
              <input type="text" v-model="input.matrix" @blur="blur.matrix = true" id="matrix" aria-describedby="matrix-helper-text" autocomplete="off" />
              <p class="small" id="matrix-helper-text">{{ $t('bio.matrix.helper') }}</p>
            </label>
            <label class="checkbox">
              <input type="checkbox" v-model="consent"  />
              <span>{{ $t('bio.consent') }}</span>
            </label>
            <p class="small">{{ $t('bio.consent.helper') }}</p>

            <button @click="submit" class="button button--themed-inverted" href="#" :disabled="!validName || !validEmail || !validConsent">{{$t('bio.submit')}}</button>
          </div>
        </form>

        </div>
        </Transition>
      </div>
</template>

<script lang="js">

export default {
  name: 'IndexPage',
  inject: ['$chakraColorMode', '$toggleColorMode'],
  data () {
    return {
      showModal: false,
      isSubmitted: false ,
      isDone: false,
      isSuccess: false,
      isError: false,
      avatar: null,
      consent: false,
      input: {
        name:'',
        email:'',
        role: '',
        bio: '',
        avatar: '',
        activitypub: '',
        matrix: '',
        twitter: ''
      },
      blur: {
        name:false,
        email:false,
        role:false,
        bio:false,
        avatar:false,
        activitypub:false,
        matrix:false,
        twitter: false},
      content: {}
    }

  },
  computed: {
    validName() {
      return this.input.name.length > 0
    },
    validRole() {
      return true
    },
    validBio() {
      return true
    },
    validEmail() {
      return this.input.email ? this.input.email.match(/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/) : true;
    },
    validActivitypub() {
      return this.input.activitypub ? this.input.activitypub.match(/^@?[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/) : true;
    },
    validMatrix() {
      return this.input.matrix ? this.input.matrix.match(/^@?[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+:[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/) : true;
    },
    validTwitter() {
      return this.input.twitter ? this.input.twitter.match(/^@[a-zA-Z0-9\._-]+$/) : true;
    },
    validAvatar() {
      const types=['image/png','image/jpeg','image/gif']
      return this.avatar ? types.indexOf(this.avatar.type) > -1 : false;
    },
    validConsent() {
      return this.consent
    }
  },
  
  methods: {

    handleFile(event) {
      this.avatar = event.target.files[0];

    },
    async submit () {
      this.isSubmitted = true;
      
      try {

        let formData = new FormData();
        formData.append('files', this.avatar);

        const res = await this.$axios.post(this.$config.strapiUrl + '/upload', formData,
                      { headers: { 'Content-Type': 'multipart/form-data' }});

        const mediaId = res.data[0].id
        const bioRes = await this.$axios.post(this.$config.strapiUrl + '/bio', {...this.input, avatar: mediaId, key: this.$route.query.key} );

        this.isSuccess = true;
    
      } catch(e) {
   
        this.isError = false;
      }
      this.isDone = true;
    },
    reset () {
      this.isSubmitted = false;
      this.isError = false;
      this.isSucces = false;
      this.blur.name = false;
      this.blur.email = false;
      this.input.name = '';
      this.input.email = '';
      this.input.newsletter = false;
    }
  }
}
</script>
<style>

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}
#bio {
  height: 200px;
}

</style>
