<template>
  <section class="event-card">
    <div class="time">
      <div class="sticky">
        <CText as="kbd">{{ $localTimes(event.attributes.start, event.attributes.end) }}</CText>
        <LocationTag v-if="event.attributes.location.data" :location="event.attributes.location"></LocationTag>
        
      </div>
    </div>
    <div class="text">
      <div class="description">
        <NuxtLink :to="localePath(`/session/${event.attributes.slug}`)">
          <CHeading as="h3">
            {{ $localize(event,'name') }}
          </CHeading>
        </NuxtLink>
        <CText class="headline" style="white-space: pre-line">{{ $localize(event,'headline') }}</CText>
        <CText v-if="event.attributes.type == 'section'" class="headline" style="white-space: pre-line" v-html="$localize(event,'description')"></CText>
        <div v-if="event.attributes.speakers.data.length > 0" class="speakers">
          <SpeakerAvatar
            v-for="speaker in event.attributes.speakers.data"
            :key="speaker.id"
            :speaker="speaker"></SpeakerAvatar>
        </div>
      </div>
      <div class="meta">
        <CText as="kbd">
          <template v-if="event.attributes.hosts.data.length > 0">{{$t('event.hostedby')}}:
            <template v-for="(host, index) in event.attributes.hosts.data">
              <template v-if="index > 0">,</template>
              <span :key="host.id"><NuxtLink :to="localePath(`/people/${host.attributes.slug}`)">{{ host.attributes.name }}</NuxtLink></span>
            </template><br />
          </template>
          <template v-if="event.attributes.language ">
            
            {{$t('event.language')}}: {{ $flag(event.attributes.language ) }}
          </template>
        </CText>
        <CButton @click="go(localePath(`/session/${event.attributes.slug}`))">{{$t('event.more')}} →</CButton>
        <RSVPButton v-if="event.attributes.rsvp" :event="event.id" ></RSVPButton>
        
      </div>
    </div>
  </section>
</template>

<script lang="js">

//<RSVPButton v-if="event.attributes.rsvp" :event="event.id"></RSVPButton>

import { CButton, CHeading, CText, CTag, CLink, CAvatar  } from '@chakra-ui/vue';
import RSVPButton from '~/components/RSVPButton';
import LocationTag from '~/components/LocationTag';
import SpeakerAvatar from '~/components/SpeakerAvatar';

export default {
  name: 'EventCard',
  components: { CButton, CHeading, CText ,CTag, CLink, CAvatar, RSVPButton},
  props: ['event'],
  setup(props) {
  },
  methods: {
    go(uri) {
      this.$router.push(uri)
    }
  },
  data () {
    return {
    }
  },
}
</script>

<style lang="scss">
.event-card {
  border-bottom: var(--borders-1px) var(--colors-ps-grey-dark);

  @include responsive($md) {
    display: grid;
    grid-template-columns: minmax(18%, 175px) 1fr;
  }

  .time {
    padding: 0 var(--sizes-4);

    @include responsive($md) {
      border-right: var(--borders-1px) var(--colors-ps-grey-dark);
    }

    @include responsive($lg) {
      padding: 0 var(--sizes-8);
    }

    .sticky {
      padding: var(--sizes-4) 0;

      @include responsive($md) {
        padding: var(--sizes-8) 0;
        position: sticky;
        top: 0;
      }

      kbd {
        display: block;
      }

    }
  }

  .text {
    @include responsive($md) {
      display: flex;
    }

    .description {
      padding: 0 var(--sizes-4);

      @include responsive($md) {
        flex-basis: 70%;
        padding: var(--sizes-8);
        border-right: var(--borders-1px) var(--colors-ps-grey-dark);
      }

      p.headline {
        margin: var(--sizes-4) 0;
      }

      .speakers {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: var(--sizes-1);
        padding: var(--sizes-4) 0;

        @include responsive($md) {
          grid-template-columns: repeat(2, 1fr);
          padding: var(--sizes-8) 0;
        }

        
      }
    }

    .meta {
      flex-basis: 30%;
      padding: var(--sizes-4);

      @include responsive($md) {
        padding: var(--sizes-8);
      }

      kbd,
      button {
        display: block;
        margin-bottom: var(--sizes-2);
      }

      kbd {
        margin-bottom: var(--sizes-4);
      }
    }
  }
}
</style>
