<template>
  <section class="event-card-break">
    <div class="rainbow"></div>
    <div class="time">
      <div class="sticky">
        <CText as="kbd">{{ $localTimes(event.attributes.start, event.attributes.end) }}</CText>
        <LocationTag v-if="event.attributes.location.data" :location="event.attributes.location"></LocationTag>
      </div>
    </div>
    <div class="text">
      <div class="description">
          <CHeading as="h3">
            {{ $localize(event,'name') }}
          </CHeading>
        <CText style="white-space: pre-line">{{ $localize(event,'headline') }}</CText>
      </div>
    </div>
  </section>
</template>

<script lang="js">

import { CHeading, CText, CTag, CLink, CTooltip  } from '@chakra-ui/vue';

export default {
  name: 'EventCardBreak',
  components: { CHeading, CText, CTag, CLink },
  props: ['event'],
  data () {
    return {
      
    }
  },
}
</script>

<style lang="scss">
.event-card-break {
  position: relative;
  color: var(--colors-white);
  background: var(--colors-ps-grey-dark);
  border-bottom: var(--borders-1px) var(--colors-ps-grey-dark);

  @include responsive($md) {
    display: grid;
    grid-template-columns: minmax(18%, 175px) 1fr;
  }

  .time {
    position: relative;
    padding: 0 var(--sizes-4);

    @include responsive($lg) {
      padding: 0 var(--sizes-8);
    }

    .sticky {
      padding: var(--sizes-4) 0;

      @include responsive($md) {
        padding: var(--sizes-8) 0;
        position: sticky;
        top: 0;
      }

      kbd {
        display: block;
      }

      div {
       
      }
    }
  }

  .text {
    position: relative;

    @include responsive($md) {
      display: flex;
    }

    .description {
      padding: 0 var(--sizes-4);

      @include responsive($md) {
        flex-basis: 70%;
        padding: var(--sizes-8);
      }

      p {
        padding: var(--sizes-4) 0;
      }
    }
  }

  .rainbow {
    visibility: hidden;
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: hsl(0deg, 60%, 45%);
    animation: rainbow 4s linear infinite;
    z-index: 0;
  }

  @keyframes rainbow {
    0% {
      background: hsl(0deg, 40%, 45%);
    }
    20% {
      background: hsl(72deg, 40%, 45%);
    }
    40% {
      background: hsl(144deg, 40%, 45%);
    }
    60% {
      background: hsl(216deg, 40%, 45%);
    }
    80% {
      background: hsl(288deg, 40%, 45%);
    }
    100% {
      background: hsl(360deg, 40%, 45%);
    }
  }

  &:hover {
    .rainbow {
      visibility: visible;
    }
  }
}
</style>
