<template>
  <!-- <footer>
    <div class="column">
      <a href="https://www.publicspaces.net" target="_blank"><PSLogoBlack /></a>
    </div>
    <div class="column">
      <CList v-if="pages.length > 0">
        <CListItem v-for="page in pages" :key="page.id">
          <NuxtLink :to="localePath(`/${page.attributes.slug}`)">{{ $localize(page,'navigation_title') }}</NuxtLink>
        </CListItem>
      </CList>
    </div>
    <div class="column">
      <CText>
    
      </CText>
    </div>
  </footer> -->
  <footer class="footer"  >
            <div class="columns">
                <div>
                  <a class="brand" href="https://publicspaces.net" target="_blank">PublicSpaces.net</a>
                </div>
                <ul>
                    <li v-if="settings.show_program" v-for="item in dates" :key="2000 + item.id">
                          <NuxtLink :to="localePath(`/date/${item.slug}`)">{{$t('nav.program')}} {{ item.text }}</NuxtLink>
                        </li>
                    <li v-if="settings.show_speakers">
                      <NuxtLink :to="localePath('/speakers')">{{$t('nav.speakers')}}</NuxtLink>
                    </li>
                    <li v-if="settings.show_bazaar">
                      <NuxtLink :to="localePath('/bazaar')">{{$t('nav.bazaar')}}</NuxtLink>
                    </li>
                    <li v-if="settings.show_art">
                      <NuxtLink :to="localePath('/art')">{{$t('nav.art')}}</NuxtLink>
                    </li>
                    <li v-if="settings.show_tickets && settings.tickets_page">
                      <NuxtLink :to="localePath('/tickets')">{{$t('nav.tickets')}}</NuxtLink>
                    </li>
                    <li v-if="settings.show_tickets && !settings.tickets_page">
                      <a :href="$localize(currentEdition,'tickets_url')" target="_blank">{{$t('nav.tickets')}}</a>
                    </li>
                    <li v-if="settings.show_signup">
                      <NuxtLink :to="localePath('/register')">{{$t('nav.signup')}}</NuxtLink>
                    </li>
                </ul>
                <ul>
                  <template v-for="page in pages"  >
                   <li v-if="page.attributes.hidden !== true" :key="page.id">
                      <NuxtLink  :to="localePath(`/${page.attributes.slug}`)">{{ $localize(page,'navigation_title') }}</NuxtLink></li>
                    </template>
                </ul>
                <div class="description">
                    <p v-html="$t('footer.credits')"></p>
                    <p v-html="$t('footer.copyright')"></p>
                </div>
            </div>
        </footer>
</template>

<script lang="js">

export default {
  name: 'Footer',
  components: { },
  computed: {
    pages() {
      return this.$store.state.pages;
    }
  }
}
</script>

<style lang="scss">

</style>
