<template>
  <!-- <div>Hier komt een iframe player </div> -->
  <iframe v-if="!height" class="w-full aspect-video " :src="source" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups" ></iframe>
  <iframe v-else class="w-full" :style="`height:${height}px;`" :src="source" allowfullscreen="" sandbox="allow-same-origin allow-scripts allow-popups" ></iframe>
</template>

<script>
export default {
  name: 'IFramePlayer',
  props: ['embed','ratio','height','url'],
  components: {
  },
  computed: {
    source() {
      if (this.url) return this.url;
      const m = this.embed.match(/src=\"([^"]*)\"/msi)
      if (m) return m[1];
      return false
    }
  }
}
</script>

<style lang="scss">
.iframe-player {

}
</style>