<template>
<section>
  <section :class="`jumbo jumbo--${jumbo.layout}`" v-for="jumbo in jumbos"
            :key="jumbo.id" :style="`--background: ${jumbo.color_background || 'white'}; --foreground: ${jumbo.color_foreground || 'black'}`">
    <div class="text">
        <h1 class="title">{{ jumbo.title }}</h1>
        <div class="excerpt">
            <div class="small" v-html="cleanup(jumbo.body)"></div>
            <div class="cta">
                <a v-for="b in jumbo.button" :class="`button button--${b.type}`" target="_blank" :href="b.url">{{ b.caption }}</a>
                <!-- <a v-if="jumbo.attributes.speeddate_url" class="button button--inverted" target="_blank" :href="jumbo.attributes.speeddate_url">{{ $t('bazaar.cta.speeddate') }}</a>
                <a v-if="jumbo.attributes.url" target="_blank" :href="jumbo.attributes.url">{{ $t('bazaar.cta.website') }}</a> -->
            </div>
        </div>
    </div>
    <figure class="bazaar" v-if="jumbo.image.data">
        <img :src="$img(jumbo.image, 'medium')" alt="" />
        <figcaption v-if="jumbo.image.data.attributes.caption">{{jumbo.image.data.attributes.caption}}</figcaption>
    </figure>
  </section>



</section>
</template>
<script lang="js">
export default {
  name: 'JumboSection',
  props: ['jumbos'],
  components: {
    
  },
  data () {
    return {
    }

  },
  computed: {
    
  },
  methods: {
    cleanup(text) {
      return text.replace(/color:[^;]*;/, "")
    }
  },

}
</script>
<style lang="scss">

.jumbo figure.bazaar img {
  flex: unset ;
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  margin: auto;
}
</style>
