<template>

  <li>
      <input type="checkbox" id="submenu_language" />
      <label for="submenu_language">{{ currentLocale.code | uppercase}} ⚑</label>
      <ul>
          <li v-for="locale in availableLocales"
              :key="locale.code"
              :aria-label="`Switch labguage to ${locale.name}`"
          >
          <NuxtLink :to="switchLocalePath(locale.code)">{{ locale.code | uppercase}}</NuxtLink>
          </li>
      </ul>
  </li>
</template>
<script lang="js">


export default {
  name: 'LanguageSwitcher',
  components: {
  },
  computed: {
    availableLocales () {
      return this.$i18n.locales;
    },
    currentLocale () {
      return this.$i18n.locales.filter(i => i.code === this.$i18n.locale)[0]
    }
  },
  filters: {
    uppercase: function(v) {
      return v.toUpperCase();
    }
  },
  methods: {
   
  }}
</script>
<style>
</style>
