<template>
      <div class="location-tag small">
        {{ $localize(location.data,'name') }}
      </div>
      <!-- <CTooltip :label="$localize(location.data,'whereabouts')" placement="right">
          <CTag size="sm" v-if="location.data">{{ $localize(location.data,'name') }}</CTag>
      </CTooltip>
     </div> -->
</template>
<script>


export default {
  name: 'LocationTag',
  props: ['location'],
}
</script>
<style lang="scss">
  .location-tag {
    display: inline;
    color: var(--forground);
  }
  .jumbo {
    .location-tag {
      color: var(--forground);
    }
  }
</style>