<template>
  <header class="header " :class="{'header--sticky':stickyNav}" >
        <NuxtLink :to="localePath(`/`)">PublicSpaces <span>/ {{$t('site.nav')}} </span></NuxtLink>
        <nav>
            <input type="checkbox" id="menu_toggle" />
            <label for="menu_toggle">Menu</label>
            <ul>
                
                <li v-if="settings.show_program ">
                    <input type="checkbox" id="submenu_1" />
                    <label for="submenu_1">{{$t('nav.program')}}</label>
                    <ul>
                        <li v-for="item in dates" :key="1000 + item.id">
                          <NuxtLink :to="localePath(`/date/${item.slug}`)">{{ item.text }}</NuxtLink>
                        </li>
                        <li v-for="item in tracks" :key="item.id">
                          <NuxtLink :to="localePath(`/track/${item.attributes.slug}`)">{{ $localize(item,'name') }}</NuxtLink>
                        </li>
                    </ul>
                </li>
                <li v-if="settings.showtime && streamedLocations.length > 0">
                    <input type="checkbox" id="submenu_2" />
                    <label for="submenu_2">{{$t('nav.live')}}</label>
                    <ul>
                        <li v-for="location in streamedLocations" :key="location.id">
                          <NuxtLink :to="localePath(`/live/${location.id}`)">{{$t('nav.livestream')}}: {{location.attributes.name}}</NuxtLink>
                        </li>
                    </ul>
                </li>
                <li v-if="settings.show_speakers">
                  <NuxtLink :to="localePath('/speakers')">{{$t('nav.speakers')}}</NuxtLink>
                </li>
                <li v-if="settings.show_bazaar">
                  <NuxtLink :to="localePath('/bazaar')">{{$t('nav.bazaar')}}</NuxtLink>
                </li>
                <li v-if="settings.show_art">
                  <NuxtLink :to="localePath('/art')">{{$t('nav.art')}}</NuxtLink>
                </li>
                <li v-if="settings.show_tickets && settings.tickets_page">
                  <NuxtLink :to="localePath('/tickets')">{{$t('nav.tickets')}}</NuxtLink>
                </li>
                <li v-if="settings.show_tickets && !settings.tickets_page">
                  <a :href="$localize(currentEdition,'tickets_url')" target="_blank">{{$t('nav.tickets')}}</a>
                </li>
                <li v-if="settings.show_signup">
                  <NuxtLink :to="localePath('/register')">{{$t('nav.signup')}}</NuxtLink>
                </li>



                <li>
                    <input type="checkbox" id="submenu_3" />
                    <label for="submenu_3">{{$t('nav.archive')}}</label>
                    <ul>
                        <li h="48px" v-for="edition in editions" :key="edition.id">
                          <NuxtLink :to="localePath(`/archive/${edition.attributes.slug}`)">{{edition.attributes.year}} - {{edition.attributes.title}}</NuxtLink>
                        </li>
                    </ul>
                </li>
                <!-- <li><a class="button button--inverted" href="#">Log in</a></li> -->
                <LanguageSwitcher />
            </ul>
        </nav>
    </header>

</template>

<script lang="js">

import { mapGetters } from "vuex";

export default {
  name: 'NavBar',
  methods: {
    toggle() {
      this.isOpen = !this.isOpen;
      this.isOpenDisplay = this.isOpen? 'flex' : 'none';
    },
    go(uri) {
      this.$router.push(uri)
    }
  },
  watch: {
    async $route(to, from) {
      this.isOpen = false;
      this.isOpenDisplay = 'none'
    },
  },
  computed: {
    //...mapGetters(["dates"]),
    //dates: this.$store.getters['dates'],
    // dates() {
    //   console.log("AASSA",this.$store.getters['dates']().bind(this))
    //   return this.$store.getters['dates']();
    //   //return [{id:1,text:this.$localDate("2022-05-17"), slug:'2022-05-17'}, {id:2,text:this.$localDate("2022-05-18"),slug:'2022-05-18'}]
    // },
    tracks () {
      return this.currentEdition.attributes.tracks.data;
    },
    editions() {
      return this.$store.state.editions.filter(e => e.attributes.status == 'archive')
    },
    stickyNav() {
      if (this.$route.path.match(/^\/date\//)) return false;
      if (this.$route.path.match(/^\/live\//)) return false;
      return true;

    }
  },
  data() {
    return {
      isOpen: false,
      fontSize: ['sm', 'md', 'lg', 'xl']
    }
  },
  mounted() {
    this.isOpen = false;
  }
}
</script>

<style lang="scss">

</style>
