<template>
  <div class="nn">
      <template v-if="event.now">
        <div class="c">
          <div class="x"><h4 class="now">{{$t('live.now')}}</h4></div>
          <div class="t"><h4 class="now">{{ $localTimes(event.now.attributes.start) }}</h4></div>
          <div class="n"><h4 class="now">{{$localize(event.now,'name')}}</h4></div>
        </div>
      </template>
      <template v-if="event.next">
       <div class="c">
          <div class="x"><h4 class="next">{{$t('live.next')}}</h4></div>
          <div class="t"><h4 class="next">{{ $localTimes(event.next.attributes.start) }}</h4></div>
          <div class="n"><h4 class="next">{{$localize(event.next,'name')}}</h4></div>
        </div>
      </template>
        
    
  
  </div>
</template>
<script>

import LocationTag from '~/components/LocationTag';
import { CButton, CHeading, CText, CBox, CList, CListItem, CListIcon, CStack} from '@chakra-ui/vue';

export default{
	name: 'NowNext',
  props: ['location','theNow'],

  computed: {

    event() {
      let events = this.$store.getters['eventsByLocation'](parseInt(this.location.id));
    
      const theDay = this.$moment(this.theNow);
      events = _.filter(events,  (event)=> {
          return this.$moment(event.attributes.start).isSame(theDay, "day") 
      })

      if (!events) return {now:null, next:null};
     
      const upcoming = events.findIndex(e=>{
        return this.theNow.getTime() < (new Date(e.attributes.start)).getTime();
      })
      // if (true) 
      // {

      //   return {now:events[upcoming], next:events[upcoming+1]}

      // }
     
      if (upcoming === -1) {
        // last event
        const event = events.length > 1 ?  events[ events.length -1 ] : events[0];
        const end = (new Date(event.attributes.start))
        end.setHours(parseInt(event.attributes.end.substr(0,2)),  parseInt(event.attributes.end.substr(3,2)));
        if (this.theNow.getTime() < end.getTime())
          return {
            now: event,
            next: null
          };
        else return { now: null, next: null}
      }

      if (upcoming === 0) return {
        now: null,
        next: events[0]
      }



      if ((new Date( events[upcoming -1 ].attributes.start )).getDay() != this.theNow.getDay()) {
        return {
          now: null,
          next:events[upcoming ]
        };
      }

      return {
        now: events[upcoming -1 ],
        next:events[upcoming ]
      };

    }
  }
}

</script>
<style lang="scss">
  .nn {
    .c {
      display: flex;
      .x {
        width: 160px;
      }
      .t {
        width: 150px;
        text-align: right;
        padding-right: 20px;
      }
      .n {
        width: 1410px;
        padding-left: 30px;
      }
    }
  }

</style>