<template>
  <section class="section">
    <h2 class="heading">{{$t('lobby.nownext')}}</h2>
    <section class="">
                <div class="timetable" style="--background: #32293d;">
   
                      <!-- <NowNextRow v-for="location in locations" :location="location" :now="now"></NowNextRow>  -->
                      <ul class="columns columns--1">
                        <li class="li li--horizontal" v-for="location in locations" :key="location.id">
                          <div class="title ">
                              <h4 class="title"><LocationTag  :location="{data:location}"></LocationTag></h4>
                              <p class="meta">{{$localize(location,'whereabouts')}}</p>
                              <p class="flex">
                                <NuxtLink v-if="location.attributes.stream.data" class="button" :to="localePath(`/live/${location.id}`)" style="--icon: '↗'">Livestream</NuxtLink>
                              </p>
                          
                          </div>
                          <div class="description">
                            <NowNextRow  :location="location" :now="now"></NowNextRow>
                          </div>
                        </li>
                    </ul>
                  </div>

    </section>
</section>
</template>
<script>


import NowNextRow from '~/components/NowNextRow';
export default{
	name: 'NowNext',


  computed: {
    events() {

      const theDay = this.$moment();
      return _.filter(this.$store.state.events,  (event)=> {
          return this.$moment(event.attributes.start).isSame(theDay, "day") 
      });
    },
    locations() {
      //return this.$store.state.locations;
      const usedEvents = _.uniq(this.events.map(l=>{
        return l.attributes.location.data.id}
       ))
      return _.filter(this.$store.state.locations,  (locations)=> {
        if (locations.id == 11) return false;
        return usedEvents.indexOf(locations.id) > -1
      });
    }
  }
}

</script>
<style lang="scss">

li.li--horizontal  {
  padding: 1rem 0 0 !important;
}

</style>