<template>
  <section class="columns columns--2">
    <section class="column" > 
      <ProgramGridItem  class="h-full" :prefix="$t('live.now')" v-if="event.now" compact="true" :event="event.now"  cols="5"></ProgramGridItem>
    
    
    </section>
    <section class="column" >
      <ProgramGridItem class="h-full" :prefix="$t('live.next')" v-if="event.next" compact="true" :event="event.next"  cols="5"></ProgramGridItem>
    </section>
  </section>
</template>
<script>

import LocationTag from '~/components/LocationTag';
import { CButton, CHeading, CText, CBox, CList, CListItem, CListIcon, CStack} from '@chakra-ui/vue';

export default{
	name: 'NowNext',
  props: ['location'],

  computed: {
    event() {
      let events = this.$store.getters['eventsByLocation'](parseInt(this.location.id));
    
      const theDay = this.$moment();
      events = _.filter(events,  (event)=> {
          return this.$moment(event.attributes.start).isSame(theDay, "day") 
      })

      if (!events) return {now:null, next:null};
     
      const upcoming = events.findIndex(e=>{
        return this.now.getTime() < (new Date(e.attributes.start)).getTime();
      })
      // if (true) 
      // {

      //   return {now:events[upcoming], next:events[upcoming+1]}

      // }
     
      if (upcoming === -1) return {
        now: events.length > 1 ?  events[ events.length -1 ] : events[0],
        next: null
      };

      if (upcoming === 0) return {
        now: null,
        next: events[0]
      }



      if ((new Date( events[upcoming -1 ].attributes.start )).getDay() != this.now.getDay()) {
        return {
          now: null,
          next:events[upcoming ]
        };
      }

      return {
        now: events[upcoming -1 ],
        next:events[upcoming ]
      };

    }
  }
}

</script>
<style lang="scss">
  

</style>