<template>

  <div :id="`session-${event.id}`" v-if="track <= cols" :class="`session session-${event.attributes.type} track-1 ${passed?'session-passed':''}`" :style="`grid-column: ${event.attributes.type=='break'?'track-1-start / track-5-end':'track-'+track}; grid-row: time-${hour}${rstartmins} / time-${endhour}${rendmins}`">
      <span v-if="showLang(event)" class="session-language float-right ml-1" style="padding-top:2px;">({{theLang(event)}})</span>
      <h3 class="session-title">
        <template v-if="!link">{{ (prefix?prefix+' ':'')+$localize(event,'name') }}</template>
        <NuxtLink v-else :to="localePath( link )">{{ (prefix?prefix+' ':'')+$localize(event,'name') }}</NuxtLink>
      </h3>
      <template v-if="event.attributes.location.data && event.attributes.location.data.id != 21">
      <span class="session-time">{{ $localTimes(event.attributes.start) }} - {{ event.attributes.end.substr(0,5) }} <span style="margin-left: 5px;" v-if="true || showLocation"> @<LocationTag v-if="event.attributes.location.data" :location="event.attributes.location"></LocationTag></span></span></template>
      <p class="small" v-if="event.attributes.hotness !== null"><template v-for="hot in event.attributes.hotness">🌶️</template></p>
      <p v-if="!compact && $localize(event,'headline')" class="small session-headling">{{ $localize(event,'headline') }}</p>

      <div class="speaker-stack" v-if="true || settings.show_speakers">
       
        <SpeakerAvatar v-for="speaker in event.attributes.speakers.data"
        :key="speaker.id" :speaker="speaker" ></SpeakerAvatar>
        <SpeakerAvatar v-for="speaker in event.attributes.hosts.data"
        :key="speaker.id" :speaker="speaker" ></SpeakerAvatar>
      <!--  <NuxtLink :to="localePath(`/people/${speaker.attributes.slug}`)"><img  :src="$ava(speaker.attributes.avatar)" :name="speaker.attributes.name" width="35" /></NuxtLink> -->
      </div>

  </div>
</template>
<script>

export default {
	
	name: 'ProgramGridItem',
	props: ['event', 'locations', "cols", "show-location", "prefix", "compact"],
  methods: {
    go(url) {

    },
    showLang(event) {
      if (!event.attributes.language) return false;
      if (event.attributes.type =='break') return false;
      //if (event.attributes.type =='other') return false;
      return true;
    },
    theLang(event) {
      return event.attributes.language.toUpperCase();
    }
  },
  computed: {
    rstartmins (){
      const smin = this.s.minutes()
      if (smin <= 0) return '00';
      if (smin < 25) return '15';
      if (smin <= 30) return '30';
      if (smin < 45) return '30';
      if (smin < 60) return '45';
    },
    rendmins (){
      const emin = parseInt(this.event.attributes.end.substr(3,2));
      if (emin < 15) return '00';
      if (emin < 25) return '15';
      if (emin < 45) return '30';
      if (emin < 55) return '45';
      return '00';
    },
    hour() {
      return this.s.hour().toString().padStart(2, '0')
    },
    endhour() {
      let endmin = parseInt(this.event.attributes.end.substr(3,2));
      if (endmin >= 55) {
        return (parseInt(this.event.attributes.end.substr(0,2))+1).toString().padStart(2, '0')
      }
      return this.event.attributes.end.substr(0,2);
    },
    endmin() {
      return this.event.attributes.end.substr(3,2);
    },
    min() {
      return this.s.minutes();
    },
    s() {
      return this.$moment(this.event.attributes.start)
    },
    start() {
      return ( 3+ ((this.hour-10)*12) + Math.round(12* (this.min/60)) ).toString()
    },
    track() {
      //reeturn this.event.attributes.tracks.data[0]

      if (this.event.attributes.type=='break') return 1;
      return (1+ _.findIndex(this.locations , (o) => { return this.event.attributes.location.data ? this.event.attributes.location.data.id == o.id : false; })).toString();
    },
    passed() {
      return this.$moment(this.event.attributes.start).set('hour',this.endhour).set('minute',this.endmin).isBefore(this.$moment(this.now))
    },
    link() {
      if ([251,256,330,328,255,249,254,250,297,294,257].indexOf(this.event.id)>-1) return '/art';
      if (this.event.attributes.type == 'break') return false;
      if (this.event.attributes.type == 'other') {
        if (this.event.id == 116) return '/bazaar';
        if ([117,142,118].indexOf(this.event.id)>-1) return '/art';
        return false;
      }
      return `/session/${this.event.attributes.slug}`;
    }
  }
}

</script>
<style lang="scss">
.session {
  background-color: white !important;
  z-index: 10;
}
.session-break {
  background-color: white !important;
  z-index: 5;
}
@screen md {
  .schedule {
    // #session-260 {
    //   width: 49%;
    // }
    // #session-302 {
    //   width: 49%;
    //   margin-left: 51%;
    // }
  }
}
.speaker-stack {
  padding-top: 10px;
  > * {
    display: inline-block;
    margin-right: -14px;
  }
}
.session-passed {
  background-color: #eeeeee !important;
}
</style>