<template>
  <svg class="ps-logo" version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
   viewBox="0 0 716.7 425.2" style="enable-background:new 0 0 716.7 425.2;" xml:space="preserve">
<style type="text/css">
  .pslb{fill:#3C3C3C;}
</style>
<g>
  <g>
    <g>
      <g>
        <path class="pslb" d="M22.8,206.5V71.9h19.5V85c1.5-2,3.3-4,5.2-5.9c2-1.9,5.4-4,10.4-6.3c5-2.3,10.4-3.4,16.2-3.4
          c14.2,0,25.8,4.9,34.8,14.6s13.6,22.1,13.6,37.2c0,15.4-4.3,28-13,37.7s-20,14.5-34.1,14.5c-8.1,0-14.9-1.7-20.5-5.2
          c-5.6-3.5-9.4-6.9-11.6-10.3v48.6L22.8,206.5L22.8,206.5z M42.7,121.3c0,10.4,2.8,18.6,8.4,24.7c5.6,6.1,12.7,9.1,21.2,9.1
          c8.6,0,15.7-3.1,21.2-9.4c5.5-6.3,8.3-14.4,8.3-24.4s-2.8-18-8.3-24.2c-5.6-6.1-12.7-9.2-21.2-9.2c-8.8,0-16,3.2-21.3,9.7
          C45.4,104,42.7,111.9,42.7,121.3z"/>
        <path class="pslb" d="M169.4,173.5c-11.9,0-20.6-4-26.2-11.9s-8.4-18-8.4-30V72h20.5v61.3c0,6.7,1.9,12,5.6,15.8
          c3.7,3.9,8.5,5.8,14.3,5.8c6.4,0,11.7-2.1,15.6-6.4c4-4.3,6-9.9,6-16.7V72h20.7v99h-20.3v-12.9c-2.4,4.3-6.1,7.9-11,10.9
          C181.4,172,175.8,173.5,169.4,173.5z"/>
        <path class="pslb" d="M232.7,171V33.8h20.7v51.4c2.1-3.4,6-6.9,11.5-10.4c5.5-3.5,12.4-5.3,20.6-5.3c14,0,25.4,4.8,34.1,14.5
          c8.7,9.7,13,22.2,13,37.7c0,15.2-4.5,27.6-13.6,37.3c-9,9.7-20.6,14.5-34.8,14.5c-13.3,0-23.9-5.1-31.9-15.4V171L232.7,171
          L232.7,171z M252.6,121.9c0,9.4,2.7,17.3,8.1,23.7c5.4,6.4,12.5,9.7,21.3,9.7c8.6,0,15.7-3.1,21.2-9.2
          c5.6-6.1,8.4-14.2,8.4-24.2s-2.8-18.2-8.3-24.5c-5.5-6.3-12.5-9.5-21.1-9.5s-15.7,3-21.2,9.1
          C255.4,103.1,252.6,111.4,252.6,121.9z"/>
        <path class="pslb" d="M346.5,171V33.8h20.7V171H346.5z"/>
        <path class="pslb" d="M391.3,56.7c-2.5-2.5-3.7-5.5-3.7-9.2s1.2-6.7,3.7-9.2c2.5-2.5,5.5-3.7,9.2-3.7s6.7,1.2,9.2,3.7
          s3.7,5.5,3.7,9.2c0,3.7-1.2,6.7-3.7,9.2c-2.5,2.5-5.5,3.7-9.2,3.7C396.9,60.4,393.8,59.2,391.3,56.7z M390.3,171V72H411v99
          H390.3z"/>
        <path class="pslb" d="M512.7,81.6l-6.3,17.5c-7.5-7.2-16.2-10.8-26.2-10.8c-9.2,0-16.8,3.2-22.6,9.5c-5.8,6.3-8.7,14.2-8.7,23.7
          s3.1,17.5,9.2,23.9c6.1,6.4,13.8,9.7,22.9,9.7s17.7-3.7,25.8-11l5.9,17.1c-9.2,8.2-20.2,12.3-32.8,12.3
          c-15.1,0-27.5-4.9-37.2-14.8c-9.8-9.9-14.6-22.3-14.6-37.2c0-14.8,4.9-27.2,14.8-37.1c9.9-9.9,22.1-14.9,36.8-14.9
          C492.3,69.5,503.3,73.5,512.7,81.6z"/>
        <path class="pslb" d="M149.6,276.5l12.9-10.2c5.9,8.6,13.9,12.9,23.7,12.9c4.6,0,8.2-1.1,11-3.2s4.2-5.2,4.2-9.1
          c0-3.4-1.6-6.3-4.9-8.7c-3.3-2.4-7.3-4.5-12.1-6.2c-4.8-1.7-9.5-3.6-14.2-5.8c-4.7-2.1-8.8-5.4-12.1-9.8
          c-3.3-4.4-4.9-9.7-4.9-16c0-8.6,3.2-15.4,9.6-20.5s14.5-7.6,24.4-7.6c8.4,0,15.2,1.9,20.6,5.6c5.4,3.7,9.3,8,11.7,12.8
          l-14.2,9.5c-4.6-7.3-10.9-11-19.2-11c-3.9,0-7.1,1-9.6,2.9s-3.7,4.6-3.7,7.9c0,3.4,1.7,6.3,5,8.5s7.4,4.2,12.1,5.9
          c4.7,1.6,9.4,3.5,14.1,5.6c4.7,2.1,8.8,5.3,12.1,9.7c3.4,4.4,5,9.8,5,16.2c0,9.1-3.4,16.5-10.1,22c-6.8,5.6-15.3,8.4-25.7,8.4
          C168.8,296.2,156.9,289.6,149.6,276.5z"/>
        <path class="pslb" d="M232.7,329.2V194.7h19.5v13.1c1.5-2,3.3-4,5.2-5.9c2-1.9,5.4-4,10.4-6.3c5-2.3,10.4-3.4,16.2-3.4
          c14.2,0,25.8,4.9,34.8,14.6s13.6,22.1,13.6,37.2c0,15.4-4.3,28-13,37.7s-20,14.5-34.1,14.5c-8.1,0-14.9-1.7-20.5-5.2
          c-5.6-3.5-9.4-6.9-11.6-10.3v48.6L232.7,329.2L232.7,329.2z M252.6,244c0,10.4,2.8,18.6,8.4,24.7c5.6,6.1,12.7,9.1,21.1,9.1
          c8.6,0,15.7-3.1,21.1-9.4c5.5-6.3,8.3-14.4,8.3-24.4s-2.8-18.1-8.4-24.2c-5.6-6.1-12.6-9.2-21.2-9.2c-8.9,0-16,3.2-21.3,9.7
          C255.3,226.8,252.6,234.6,252.6,244z"/>
        <path class="pslb" d="M337.2,263.2c0-9.6,3.5-17.5,10.6-23.5s16.3-9.1,27.7-9.1c10.5,0,18.4,2.4,23.7,7.2v-9.3
          c0-5.7-1.9-10.1-5.6-13.4c-3.7-3.2-8.9-4.8-15.5-4.8c-9.1,0-18.3,2.6-27.7,7.8l-8-14.4c11.8-7.6,24.4-11.4,37.8-11.4
          c26.3,0,39.5,12.5,39.5,37.6v63.9h-18l-1.7-7.4c-6,6.6-14.4,9.9-25.4,9.9c-10.6,0-19.5-3.1-26.7-9.2
          C340.8,280.9,337.2,272.9,337.2,263.2z M363.7,250.4c-3.9,3.2-5.8,7.3-5.8,12.2s2,9,5.9,12.2c3.9,3.2,9,4.8,15.2,4.8
          c6.1,0,11.1-1.6,15-4.7c3.9-3.2,5.9-7.3,5.9-12.3c0-5.2-1.9-9.3-5.8-12.4c-3.9-3.1-9-4.6-15.3-4.6
          C372.6,245.5,367.6,247.1,363.7,250.4z"/>
        <path class="pslb" d="M512.7,204.4l-6.3,17.5c-7.5-7.2-16.2-10.8-26.2-10.8c-9.2,0-16.8,3.2-22.6,9.5c-5.8,6.3-8.7,14.2-8.7,23.7
          s3.1,17.5,9.2,23.9c6.1,6.5,13.8,9.7,22.9,9.7s17.7-3.7,25.8-11l5.9,17.1c-9.2,8.2-20.2,12.3-32.8,12.3
          c-15.1,0-27.5-4.9-37.2-14.8c-9.8-9.9-14.6-22.3-14.6-37.2c0-14.8,4.9-27.2,14.8-37.1c9.9-9.9,22.1-14.9,36.8-14.9
          C492.3,192.2,503.3,196.3,512.7,204.4z"/>
        <path class="pslb" d="M531.2,281.8c-9.5-9.6-14.2-22-14.2-37.2s4.6-27.7,13.8-37.6c9.2-9.9,20.7-14.8,34.3-14.8
          c14.8,0,26.4,4.7,34.9,14.1c8.5,9.4,12.7,22,12.7,37.7c0,2.3-0.1,4-0.2,5.1H538c0.1,8.7,3.1,15.8,8.8,21.1
          c5.8,5.3,13.1,8,21.9,8c11.9,0,21-4.6,27.3-13.9l13.7,10.2c-3.2,5.4-8.2,10.4-15.2,14.9c-7,4.5-15.7,6.7-26.2,6.7
          C553,296.2,540.7,291.4,531.2,281.8z M538.8,234.9h52.9c-0.4-8-3-14.2-8-18.7s-11.1-6.7-18.4-6.7c-7.2,0-13.3,2.3-18.2,6.9
          C542.2,221,539.4,227.2,538.8,234.9z"/>
        <path class="pslb" d="M619.3,276.5l12.9-10.2c6,8.6,13.8,12.9,23.7,12.9c4.5,0,8.2-1.1,11-3.2s4.2-5.2,4.2-9.1
          c0-3.4-1.6-6.3-4.9-8.7c-3.3-2.4-7.3-4.5-12-6.2c-4.8-1.7-9.5-3.6-14.2-5.8c-4.7-2.1-8.8-5.4-12-9.8s-4.9-9.7-4.9-16
          c0-8.6,3.2-15.4,9.6-20.5s14.5-7.6,24.4-7.6c8.3,0,15.2,1.9,20.6,5.6c5.4,3.7,9.3,8,11.7,12.8l-14.2,9.5
          c-4.5-7.3-10.9-11-19.2-11c-3.9,0-7.1,1-9.6,2.9s-3.7,4.6-3.7,7.9c0,3.4,1.7,6.3,5,8.5s7.4,4.2,12,5.9c4.7,1.6,9.4,3.5,14.1,5.6
          c4.7,2.1,8.8,5.3,12.1,9.7c3.3,4.4,5,9.8,5,16.2c0,9.1-3.4,16.5-10.2,22c-6.8,5.6-15.3,8.4-25.7,8.4
          C638.5,296.2,626.6,289.6,619.3,276.5z"/>
      </g>
      <path class="pslb" d="M122.2,235.8c1.7-1.7,3.8-2.6,6.3-2.6c2.5,0,4.6,0.9,6.3,2.6c1.7,1.7,2.6,3.8,2.6,6.3s-0.9,4.6-2.6,6.3
        c-1.7,1.7-3.8,2.6-6.3,2.6c-2.5,0-4.6-0.9-6.3-2.6s-2.6-3.8-2.6-6.3C119.6,239.6,120.5,237.5,122.2,235.8z"/>
      <path class="pslb" d="M73.2,235.8c1.7-1.7,3.8-2.6,6.3-2.6c2.5,0,4.6,0.9,6.3,2.6c1.7,1.7,2.6,3.8,2.6,6.3s-0.8,4.6-2.6,6.3
        c-1.7,1.7-3.8,2.6-6.3,2.6c-2.5,0-4.6-0.9-6.3-2.6s-2.6-3.8-2.6-6.3C70.7,239.6,71.5,237.5,73.2,235.8z"/>
      <path class="pslb" d="M24.3,235.8c1.7-1.7,3.8-2.6,6.3-2.6c2.5,0,4.6,0.9,6.3,2.6c1.7,1.7,2.5,3.8,2.5,6.3s-0.8,4.6-2.5,6.3
        c-1.7,1.7-3.8,2.6-6.3,2.6c-2.5,0-4.6-0.9-6.3-2.6s-2.5-3.8-2.5-6.3C21.7,239.6,22.6,237.5,24.3,235.8z"/>
      <path class="pslb" d="M596.5,126.5h-48.6v-14.2h48.6V126.5z"/>
      <path class="pslb" d="M535.7,125.7c-1.7,1.7-3.8,2.6-6.3,2.6c-2.5,0-4.6-0.8-6.3-2.6c-1.7-1.7-2.5-3.8-2.5-6.3
        c0-2.5,0.8-4.6,2.5-6.3c1.7-1.7,3.8-2.6,6.3-2.6c2.5,0,4.6,0.8,6.3,2.6c1.7,1.7,2.5,3.8,2.5,6.3S537.4,124,535.7,125.7z"/>
      <path class="pslb" d="M606.6,112.2h48.6v14.2h-48.6V112.2z"/>
      <path class="pslb" d="M667.9,113c1.7-1.7,3.8-2.6,6.3-2.6c2.5,0,4.6,0.8,6.3,2.6c1.7,1.7,2.5,3.8,2.5,6.3c0,2.5-0.8,4.6-2.5,6.3
        c-1.7,1.7-3.8,2.6-6.3,2.6c-2.5,0-4.6-0.8-6.3-2.6c-1.7-1.7-2.5-3.8-2.5-6.3S666.2,114.7,667.9,113z"/>
    </g>
  </g>
  <g>
    <path class="pslb" d="M22.9,374.7c-0.7-0.7-1-1.5-1-2.6c0-1,0.3-1.9,1-2.6c0.7-0.7,1.5-1,2.6-1c1,0,1.9,0.3,2.6,1
      c0.7,0.7,1,1.5,1,2.6c0,1-0.3,1.9-1,2.6c-0.7,0.7-1.5,1-2.6,1S23.6,375.4,22.9,374.7z M22.6,406.7V379h5.8v27.7H22.6z"/>
    <path class="pslb" d="M46.2,378.3c3.3,0,5.8,1.1,7.3,3.3c1.6,2.2,2.3,5,2.3,8.4v16.7h-5.7v-17.1c0-1.9-0.5-3.4-1.6-4.4
      c-1-1.1-2.4-1.6-4-1.6c-1.8,0-3.3,0.6-4.4,1.8c-1.1,1.2-1.7,2.8-1.7,4.7v16.7h-5.8V379h5.7v3.6c0.7-1.2,1.7-2.2,3.1-3
      C42.9,378.7,44.5,378.3,46.2,378.3z"/>
    <path class="pslb" d="M60.5,379v-5.8h5.7v5.8h5.6v4.8h-5.6v12.9c0,2,0.4,3.4,1.1,4.2s1.9,1.1,3.6,1.1l1.1,0v5
      c-0.7,0.1-1.6,0.2-2.8,0.2c-3.2,0-5.4-1-6.8-2.9s-2-4.7-2-8.4v-12h-3.1V379L60.5,379L60.5,379z"/>
    <path class="pslb" d="M76.9,403.4c-2.7-2.7-4-6.2-4-10.4s1.3-7.8,3.9-10.5c2.6-2.8,5.8-4.1,9.6-4.1c4.1,0,7.4,1.3,9.8,4
      c2.4,2.6,3.6,6.1,3.6,10.5c0,0.6,0,1.1-0.1,1.4H78.8c0,2.4,0.9,4.4,2.5,5.9c1.6,1.5,3.7,2.2,6.1,2.2c3.3,0,5.9-1.3,7.6-3.9
      l3.8,2.9c-0.9,1.5-2.3,2.9-4.2,4.2s-4.4,1.9-7.3,1.9C83.1,407.4,79.6,406,76.9,403.4z M79.1,390.2h14.8c-0.1-2.2-0.8-4-2.2-5.2
      c-1.4-1.3-3.1-1.9-5.2-1.9c-2,0-3.7,0.6-5.1,1.9C80,386.4,79.2,388.1,79.1,390.2z"/>
    <path class="pslb" d="M116.9,378.3v5.8c-5.2,0-7.8,3.5-7.8,10.6v11.9h-5.8V379h5.7v4.4c0.6-1.5,1.6-2.6,3-3.6
      C113.4,378.8,115.1,378.3,116.9,378.3z"/>
    <path class="pslb" d="M133.7,378.3c3.3,0,5.8,1.1,7.3,3.3s2.3,5,2.3,8.4v16.7h-5.7v-17.1c0-1.9-0.5-3.4-1.6-4.4
      c-1-1.1-2.4-1.6-4-1.6c-1.8,0-3.3,0.6-4.4,1.8c-1.1,1.2-1.7,2.8-1.7,4.7v16.7h-5.8V379h5.7v3.6c0.7-1.2,1.7-2.2,3.1-3
      C130.4,378.7,131.9,378.3,133.7,378.3z"/>
    <path class="pslb" d="M149.8,403.4c-2.6-2.7-4-6.2-4-10.4s1.3-7.8,3.9-10.5c2.6-2.8,5.8-4.1,9.6-4.1c4.1,0,7.4,1.3,9.8,4
      c2.4,2.6,3.6,6.1,3.6,10.5c0,0.6,0,1.1-0.1,1.4h-20.9c0,2.4,0.9,4.4,2.5,5.9c1.6,1.5,3.6,2.2,6.1,2.2c3.3,0,5.9-1.3,7.6-3.9
      l3.8,2.9c-0.9,1.5-2.3,2.9-4.2,4.2s-4.4,1.9-7.3,1.9C155.9,407.4,152.5,406,149.8,403.4z M151.9,390.2h14.8
      c-0.1-2.2-0.9-4-2.2-5.2c-1.4-1.3-3.1-1.9-5.1-1.9c-2,0-3.7,0.6-5.1,1.9C152.9,386.4,152.1,388.1,151.9,390.2z"/>
    <path class="pslb" d="M176.7,379v-5.8h5.7v5.8h5.6v4.8h-5.6v12.9c0,2,0.4,3.4,1.1,4.2s1.9,1.1,3.6,1.1l1.1,0v5
      c-0.7,0.1-1.6,0.2-2.8,0.2c-3.2,0-5.4-1-6.8-2.9s-2-4.7-2-8.4v-12h-3.1V379L176.7,379L176.7,379z"/>
    <path class="pslb" d="M205.2,406.7v-22.9h-3V379h3v-1.2c0-3.3,0.9-5.7,2.6-7.2c1.8-1.5,4-2.2,6.8-2.2l2.1,0.1v4.9
      c-0.5-0.1-1-0.1-1.4-0.1c-2.9,0-4.4,1.5-4.4,4.6v1.1h5.4v4.8h-5.4v22.9L205.2,406.7L205.2,406.7z"/>
    <path class="pslb" d="M217.3,392.9c0-4.2,1.4-7.6,4.2-10.4c2.8-2.8,6.3-4.2,10.5-4.2c4.2,0,7.8,1.4,10.5,4.1s4.2,6.2,4.2,10.4
      c0,4.2-1.4,7.6-4.2,10.4c-2.8,2.8-6.3,4.1-10.5,4.1c-4.2,0-7.8-1.4-10.5-4.1C218.7,400.6,217.3,397.1,217.3,392.9z M225.6,386.1
      c-1.6,1.8-2.5,4-2.5,6.8c0,2.7,0.8,5,2.5,6.7s3.8,2.6,6.3,2.6s4.7-0.9,6.4-2.6s2.5-4,2.5-6.7s-0.8-5-2.5-6.7
      c-1.7-1.8-3.8-2.6-6.4-2.6C229.4,383.4,227.2,384.3,225.6,386.1z"/>
    <path class="pslb" d="M262.9,378.3v5.8c-5.2,0-7.8,3.5-7.8,10.6v11.9h-5.8V379h5.7v4.4c0.6-1.5,1.6-2.6,3-3.6
      C259.4,378.8,261,378.3,262.9,378.3z"/>
    <path class="pslb" d="M278.9,379v-5.8h5.7v5.8h5.6v4.8h-5.6v12.9c0,2,0.4,3.4,1.1,4.2s2,1.1,3.6,1.1l1.1,0v5
      c-0.7,0.1-1.6,0.2-2.8,0.2c-3.2,0-5.4-1-6.8-2.9s-2-4.7-2-8.4v-12h-3.1V379L278.9,379L278.9,379z"/>
    <path class="pslb" d="M307.5,378.3c3.3,0,5.8,1.1,7.3,3.3s2.3,5,2.3,8.4v16.7h-5.7v-17.1c0-1.9-0.5-3.4-1.6-4.4
      c-1-1.1-2.4-1.6-4-1.6c-1.8,0-3.3,0.6-4.4,1.8c-1.1,1.2-1.7,2.8-1.7,4.7v16.7H294v-38.4h5.8v14.3c0.7-1.2,1.7-2.2,3.1-3
      C304.2,378.7,305.8,378.3,307.5,378.3z"/>
    <path class="pslb" d="M323.7,403.4c-2.6-2.7-4-6.2-4-10.4s1.3-7.8,3.9-10.5c2.6-2.8,5.8-4.1,9.6-4.1c4.1,0,7.4,1.3,9.8,4
      c2.4,2.6,3.6,6.1,3.6,10.5c0,0.6,0,1.1,0,1.4h-20.9c0,2.4,0.9,4.4,2.5,5.9c1.6,1.5,3.6,2.2,6.1,2.2c3.3,0,5.9-1.3,7.6-3.9l3.8,2.9
      c-0.9,1.5-2.3,2.9-4.2,4.2s-4.4,1.9-7.3,1.9C329.8,407.4,326.3,406,323.7,403.4z M325.8,390.2h14.8c-0.1-2.2-0.9-4-2.2-5.2
      s-3.1-1.9-5.1-1.9c-2,0-3.7,0.6-5.1,1.9C326.7,386.4,326,388.1,325.8,390.2z"/>
    <path class="pslb" d="M384.3,381.7l-1.8,4.9c-2.1-2-4.5-3-7.3-3c-2.6,0-4.7,0.9-6.3,2.6c-1.6,1.8-2.4,4-2.4,6.6s0.9,4.9,2.6,6.7
      c1.7,1.8,3.9,2.7,6.4,2.7s5-1,7.2-3.1l1.6,4.8c-2.6,2.3-5.6,3.5-9.2,3.5c-4.2,0-7.7-1.4-10.4-4.1c-2.7-2.8-4.1-6.2-4.1-10.4
      c0-4.1,1.4-7.6,4.1-10.4s6.2-4.2,10.3-4.2C378.6,378.3,381.7,379.4,384.3,381.7z"/>
    <path class="pslb" d="M386.2,392.9c0-4.2,1.4-7.6,4.2-10.4s6.3-4.2,10.5-4.2c4.2,0,7.8,1.4,10.5,4.1s4.2,6.2,4.2,10.4
      c0,4.2-1.4,7.6-4.2,10.4c-2.8,2.8-6.3,4.1-10.5,4.1c-4.2,0-7.8-1.4-10.5-4.1C387.6,400.6,386.2,397.1,386.2,392.9z M394.5,386.1
      c-1.6,1.8-2.5,4-2.5,6.8c0,2.7,0.8,5,2.5,6.7s3.8,2.6,6.3,2.6s4.7-0.9,6.4-2.6c1.7-1.8,2.5-4,2.5-6.7s-0.8-5-2.5-6.7
      s-3.8-2.6-6.4-2.6C398.3,383.4,396.1,384.3,394.5,386.1z"/>
    <path class="pslb" d="M457.3,388.6v18.1h-5.7v-16.6c0-4.4-1.8-6.6-5.3-6.6c-1.7,0-3,0.6-4.1,1.8s-1.6,2.8-1.6,4.9v16.6h-5.8v-17.1
      c0-1.9-0.5-3.4-1.4-4.4s-2.2-1.6-3.9-1.6c-1.6,0-2.9,0.6-4,1.8c-1.1,1.2-1.6,2.8-1.6,4.7v16.7h-5.8V379h5.7v3.6
      c0.6-1.2,1.5-2.2,2.8-3s2.9-1.3,4.6-1.3c3.9,0,6.5,1.5,8,4.6c1.7-3.1,4.6-4.6,8.5-4.6c3,0,5.4,0.9,7,2.8
      C456.5,383,457.3,385.5,457.3,388.6z"/>
    <path class="pslb" d="M500.6,388.6v18.1h-5.7v-16.6c0-4.4-1.8-6.6-5.3-6.6c-1.7,0-3,0.6-4.1,1.8s-1.6,2.8-1.6,4.9v16.6h-5.8v-17.1
      c0-1.9-0.5-3.4-1.4-4.4s-2.2-1.6-3.9-1.6c-1.6,0-2.9,0.6-4,1.8c-1.1,1.2-1.6,2.8-1.6,4.7v16.7h-5.8V379h5.7v3.6
      c0.6-1.2,1.5-2.2,2.8-3s2.9-1.3,4.6-1.3c3.9,0,6.5,1.5,8,4.6c1.7-3.1,4.6-4.6,8.5-4.6c3,0,5.4,0.9,7,2.8S500.6,385.5,500.6,388.6z
      "/>
    <path class="pslb" d="M503,392.9c0-4.2,1.4-7.6,4.2-10.4s6.3-4.2,10.5-4.2c4.2,0,7.8,1.4,10.5,4.1s4.2,6.2,4.2,10.4
      c0,4.2-1.4,7.6-4.2,10.4c-2.8,2.8-6.3,4.1-10.5,4.1c-4.2,0-7.8-1.4-10.5-4.1C504.4,400.6,503,397.1,503,392.9z M511.3,386.1
      c-1.6,1.8-2.5,4-2.5,6.8c0,2.7,0.8,5,2.5,6.7s3.8,2.6,6.3,2.6s4.7-0.9,6.4-2.6c1.7-1.8,2.5-4,2.5-6.7s-0.8-5-2.5-6.7
      s-3.8-2.6-6.4-2.6C515.1,383.4,513,384.3,511.3,386.1z"/>
    <path class="pslb" d="M548.5,378.3c3.3,0,5.8,1.1,7.3,3.3s2.3,5,2.3,8.4v16.7h-5.7v-17.1c0-1.9-0.5-3.4-1.6-4.4
      c-1-1.1-2.4-1.6-4-1.6c-1.8,0-3.3,0.6-4.4,1.8c-1.1,1.2-1.7,2.8-1.7,4.7v16.7H535V379h5.7v3.6c0.7-1.2,1.7-2.2,3.1-3
      C545.2,378.7,546.8,378.3,548.5,378.3z"/>
    <path class="pslb" d="M577.4,414.2l1.9-4.5c2.4,1.4,5.2,2.1,8.1,2.1c2.6,0,4.7-0.5,6.3-1.6s2.4-2.9,2.4-5.3v-1.9
      c-0.3,0.5-0.8,1-1.3,1.6c-0.5,0.5-1.5,1.1-2.9,1.8c-1.4,0.6-2.9,1-4.6,1c-4,0-7.2-1.3-9.6-4s-3.7-6.2-3.7-10.5s1.2-7.8,3.7-10.5
      c2.5-2.7,5.7-4.1,9.6-4.1c2.3,0,4.2,0.5,5.7,1.5c1.5,1,2.7,2,3.3,3V379h5.5v24c0,4.9-1.3,8.4-3.9,10.6c-2.6,2.2-6.1,3.3-10.5,3.3
      C583.8,416.9,580.4,416,577.4,414.2z M596.2,392.8c0-2.8-0.8-5.1-2.3-6.8s-3.5-2.6-6-2.6c-2.4,0-4.4,0.9-5.9,2.6s-2.3,4-2.3,6.8
      c0,2.8,0.8,5.1,2.3,6.8s3.5,2.6,6,2.6c2.5,0,4.5-0.9,6-2.6S596.2,395.6,596.2,392.8z"/>
    <path class="pslb" d="M604.3,392.9c0-4.2,1.4-7.6,4.2-10.4s6.3-4.2,10.5-4.2c4.2,0,7.8,1.4,10.5,4.1s4.2,6.2,4.2,10.4
      c0,4.2-1.4,7.6-4.2,10.4c-2.8,2.8-6.3,4.1-10.5,4.1c-4.2,0-7.8-1.4-10.5-4.1C605.6,400.6,604.3,397.1,604.3,392.9z M612.6,386.1
      c-1.7,1.8-2.5,4-2.5,6.8c0,2.7,0.8,5,2.5,6.7s3.8,2.6,6.3,2.6s4.7-0.9,6.4-2.6c1.7-1.8,2.5-4,2.5-6.7s-0.8-5-2.5-6.7
      s-3.8-2.6-6.4-2.6C616.3,383.4,614.2,384.3,612.6,386.1z"/>
    <path class="pslb" d="M635.6,392.9c0-4.2,1.4-7.6,4.2-10.4s6.3-4.2,10.5-4.2c4.2,0,7.8,1.4,10.5,4.1s4.2,6.2,4.2,10.4
      c0,4.2-1.4,7.6-4.2,10.4c-2.8,2.8-6.3,4.1-10.5,4.1c-4.2,0-7.8-1.4-10.5-4.1C637,400.6,635.6,397.1,635.6,392.9z M643.9,386.1
      c-1.7,1.8-2.5,4-2.5,6.8c0,2.7,0.8,5,2.5,6.7s3.8,2.6,6.3,2.6s4.7-0.9,6.4-2.6c1.7-1.8,2.5-4,2.5-6.7s-0.8-5-2.5-6.7
      s-3.8-2.6-6.4-2.6C647.7,383.4,645.6,384.3,643.9,386.1z"/>
    <path class="pslb" d="M694.9,368.3v38.4h-5.5v-3.6c-2.2,2.9-5.2,4.3-8.9,4.3c-4,0-7.2-1.4-9.7-4.1c-2.5-2.7-3.8-6.2-3.8-10.4
      c0-4.3,1.2-7.8,3.6-10.5c2.4-2.7,5.6-4.1,9.5-4.1c2.3,0,4.2,0.5,5.8,1.5c1.5,1,2.6,2,3.2,2.9v-14.4H694.9z M689.4,393
      c0-2.9-0.8-5.3-2.3-7c-1.6-1.7-3.5-2.5-6-2.5c-2.4,0-4.4,0.9-5.9,2.6s-2.3,4-2.3,6.9c0,2.8,0.8,5,2.3,6.8s3.5,2.6,6,2.6
      c2.5,0,4.5-0.9,6-2.7C688.6,397.8,689.4,395.6,689.4,393z"/>
  </g>
</g>
</svg>
</template>

<style>
.ps-logo {
  height: 150px;
}
</style>
