<template>
  <div class="container">
        <Transition>
        <div v-if="isSumbitted">
          <div class="confirmation" style="">
             <template v-if="isSuccess">
                  <h3>
                    {{ $t('signup.success.title') }}
                  </h3>
                  <p  v-html="$t('signup.success.body')">
                  </p>
              </template>
                <template v-if="!isSuccess">
                  <h3>
                    {{ $t('signup.error.title') }}
                  </h3>
                  <p v-html="$t('signup.error.body')">
                  </p>
              </template>
          </div>
        </div>
        <div v-if="!isSumbitted">
          <form class="column">
              <div class="column form">
                  <label>
                      <span>{{ $t('signup.name') }}</span>
                      <span class=" small text-red-700 font-light" v-show="blur.name && !validName">
                          * {{ $t('signup.name.invalid') }}
                      </span>
                      <input class="" type="text" placeholder="" v-model="input.name" @blur="blur.name = true" id="name" required aria-describedby="name-helper-text" />
                      <p class="small" id="name-helper-text">{{ $t('signup.name.helper') }}</p>
                  </label>
                  <label>
                      <span>{{ $t('signup.email') }}</span>
                      <span class=" small text-red-700 font-light" v-show="blur.email && !validEmail">
                          * {{ $t('signup.email.invalid') }}
                      </span>
                      <input type="email" v-model="input.email" @blur="blur.email = true" id="email" placeholder="john@example.com" aria-describedby="email-helper-text" autocomplete="off" />
                      <p class="small" id="email-helper-text">{{ $t('signup.email.helper') }}</p>
                  </label>
                  <label class="checkbox">
                      <input type="checkbox" v-model="input.newsletter"  />
                      <span>{{ $t('signup.newsletter') }}</span>

                  </label>
                  <p class="small">{{ $t('signup.newsletter.helper') }}</p>

                   <button @click="submit" class="button button--themed-inverted" href="#" :disabled="!validName || !validEmail">{{$t('signup.submit')}}</button>

              </div>
          </form>
        </div>
        </Transition>
      </div>
</template>

<script lang="js">


export default {
  name: 'RegisterForm',
  components: {
  },
  //inject: ['$chakraColorMode', '$toggleColorMode'],
  data () {
    return {
      showModal: false,
      isSumbitted: false,
      isDone: false,
      isSuccess: true,
      input: {
        name:'',
        email:'',
        newsletter: false
      },
      blur: {name:false,email:false},
      content: {}
    }

  },
  computed: {
    validName() {
      return this.input.name.length > 0
    },
    validEmail() {
      return this.input.email.match(/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/)?true:false;
    }
  },
  
  methods: {

    
    async submit () {
      this.isSumbitted = true;
      try {
        const res = await this.$axios.post('/api/signup', this.input)
        if(res.data.status == 'succes') this.isSuccess = true
        else this.isSuccess = false;
      } catch(e) {
        console.log(e)
        this.isSuccess = false;
      } 
      this.isDone = true;
    },
    reset () {
      this.isSumbitted = false
      this.blur.name = false;
      this.blur.email = false;
      this.input.name = '';
      this.input.email = '';
      this.input.newsletter = false;
    }
  }
}
</script>
<style>

.confirmation{
  background-color: #eeeeee;
  padding: 20px;
}

</style>
