<template>




<div>
  <CButton variant-color="green" @click="open">+ {{$t('rsvp.button')}}</CButton>
    <CModal
      :is-open="isOpen"
      :on-close="close"
      is-centered
      :initial-focus-ref="() => $refs.contactInput"
    >
      <CModalOverlay bg="rgba( 0, 0, 0, 0.6)" />
      <CModalContent ref="content">
        <CModalHeader>{{$t('rsvp.title')}}</CModalHeader>
        <CModalCloseButton />
        <CModalBody>
          {{$t('rsvp.body')}}
          <CFormControl mt="4" :is-invalid="blur && !validContact" is-required mb="3">
            <CFormLabel for="contact">{{ $t('rsvp.input') }}</CFormLabel>
            <CInput ref="contactInput" @blur="blur = true" v-model="contact" type="text" id="contact" aria-describedby="contact-helper-text" />
            <CFormErrorMessage>{{ $t('rsvp.contact.invalid') }}</CFormErrorMessage>
            <CFormHelperText id="contact-helper-text">
              {{ $t('rsvp.contact.helper') }}
            </CFormHelperText>
          </CFormControl>
        </CModalBody>
        <CModalFooter>
          <CButton :is-disabled="!validContact" @click="signup" variant-color="green" mr="3">
            {{$t('rsvp.button.signup')}}
          </CButton>
          <CButton @click="close">{{$t('rsvp.button.cancel')}}</CButton>
        </CModalFooter>
      </CModalContent>
      <CModaverlay />
    </CModal>
  </div>

</template>
<script>
import { CButton } from '@chakra-ui/vue'

import {
  CModal,
  CModalOverlay,
  CModalContent,
  CModalHeader,
  CModalFooter,
  CModalBody,
  CModalCloseButton,
  CInput,
  CText
} from "@chakra-ui/vue";

export default {
  name: 'RSVPButton',
  props: ['event'],
  components: {
    CButton
  },
  computed: {
    validContact() {
      const ve = this.contact.match(/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/)?true:false;
      const vm = this.contact.match(/^@[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+\:[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/)?true:false;
      return ve || vm;
    }
  },
  data () {
    return {
      isOpen: false,
      contact: "",
      blur: false
    }
  },
  methods: {
    open() {
      this.isOpen = true
    },
    close() {
      this.isOpen = false
    },
    async signup() {

      
      try {
        await this.$strapi.$attendees.create({data:{contact:this.contact,present:true, event: this.event}})

        this.$toast({
          title: this.$t('rsvp.success.title'),
          description: this.$t('rsvp.success.body'),
          status: 'success',
          duration: 4000
        })
        this.isOpen = false
      } catch(e) {
        this.$toast({
          title: this.$t('rsvp.error.title'),
          description: this.$t('rsvp.error.body'),
          status: 'error',
          duration: 4000
        })
      }
      
    }
  }
}
</script>
<style lang="scss">


</style>