<template>
  <section
    :class="[
      'section-with-title',
      { 'section-with-title--contained': contained },
    ]"
  >
    <div class="title">
      <CHeading as="h2">{{ title }}</CHeading>
    </div>
    <div class="body">
      <slot />
    </div>
  </section>
</template>

<script lang="js">

import { CHeading } from '@chakra-ui/vue';

export default {
  name: 'SectionWithTitle',
  components: { CHeading },
  props: {
      title: '',
      contained: false
  }
}
</script>

<style lang="scss">
.section-with-title {
  margin: var(--sizes-8) 0 0;

  @include responsive($md) {
    display: grid;
    grid-template-columns: minmax(38.2%, 360px) 1fr;
  }

  .title {
    padding: 0 var(--sizes-4);

    @include responsive($lg) {
      padding: 0 var(--sizes-8);
    }
  }

  .body {
    margin-top: var(--sizes-8);

    @include responsive($md) {
      margin-top: 0;
    }
  }

  &.section-with-title--contained {
    .body {
      padding: 0 var(--sizes-4);

      @include responsive($md) {
        max-width: var(--sizes-containers-sm);
        padding: 0;
      }
    }
  }
}
</style>
