<template>
<section class="section" v-if="speakers.data.length || hosts.data.length">
    <h3 class="heading">{{$t('session.speakers')}}</h3>
    <section class="columns columns--2">
        <div class="column column--narrow">
            <p class="small"></p>
        </div>
        <div class="column column--wide">
            <section class="columns columns--4 card-mini">
                <NuxtLink class="card" :to="localePath(`/people/${speaker.attributes.slug}`)" v-for="speaker in speakers.data" :key="speaker.id">
                    <figure>
                        <div v-if="speaker.attributes.avatar.data" class="bg-cover bg-center aspect-square rounded-full" :style="`background-image: url( ${$ava(speaker.attributes.avatar)})`"></div>
                        <temaplte v-else>
                            <div v-if="settings.default_avatar && settings.default_avatar.data" class="bg-cover bg-center aspect-square rounded-full" :style="`background-image: url( ${$ava(settings.default_avatar)})`"></div>
                        </temaplte>
                    </figure>
                    <p class="description">{{ speaker.attributes.name }}</p>
                    <p class="meta">{{$localize(speaker,'headline')}}</p>
                </NuxtLink>
                <NuxtLink v-if="hosts" class="card" :to="localePath(`/people/${host.attributes.slug}`)" v-for="host in hosts.data" :key="host.id">
                    <figure>
                        <div class="bg-cover bg-center aspect-square rounded-full" :style="`background-image: url( ${$ava(host.attributes.avatar)})`"></div>
                    </figure>
                    <p class="description">Host: {{ host.attributes.name }}</p>
                    <p class="meta">{{$localize(host,'headline')}}</p>
                </NuxtLink>
            </section>
        </div>
    </section>
</section>

</template>
<script>
export default {
	name: 'VideoList',
  	props: ['speakers','hosts']
};

</script>