<template>
<!-- <div class="speaker"> -->
  <NuxtLink :to="localePath(`/people/${speaker.attributes.slug}`)">
    <!-- <figure> -->
        <div v-if="speaker.attributes.avatar.data" class="w-10 h-10 bg-cover bg-center aspect-square rounded-full" :style="`background-image: url( ${$ava(speaker.attributes.avatar)})`"></div>
        <template v-else>
          <div v-if="settings.default_avatar && settings.default_avatar.data" class="w-10 h-10 bg-cover bg-center aspect-square rounded-full" :style="`background-image: url( ${$ava(settings.default_avatar)} )`"></div>
        </template>
<!--     </figure> -->
  </NuxtLink>
<!--   <span class="name"><NuxtLink :to="localePath(`/people/${speaker.attributes.slug}`)">{{ speaker.attributes.name }}</NuxtLink><br /><span v-if="speaker.attributes.headline" class="headline">{{$localize(speaker,'headline')}}</span></span>
    
</div> -->
</template>
<script>
import {  CText, CAvatar  } from '@chakra-ui/vue';
export default {
  name:'SpeakerAvatar',
	props: ['speaker']
}
</script>
<style lang="scss" >

  // .speaker {
  //   display: flex;
  //   align-items: center;
  //   .name {
  //     margin: 0 0 0 var(--sizes-2);
  //     line-height: 1.2
  //   }
  //   span.headline {
  //     color: var(--colors-gray-500);;
  //     font-size: var(--fontSizes-sm);
  //   }
  // }
</style>