<template>
<section class="columns card-mini" :class="{'columns--4':(edition.attributes.sponsors.length<=4),'columns--6':(edition.attributes.sponsors.length>4)}">
    <a class="card " v-for="sponsor in edition.attributes.sponsors" :key="sponsor.id" :href="sponsor.url" target="_blank">
        <figure>
            <img :src="$img(sponsor.logo, 'small')" width="200" height="200" alt="" />
        </figure>
    </a>
</section>


</template>
<script>

export default {
  name: 'SponsorSection',
  props: ['edition'],
  methods: {
    classname() {
      return 'toon'
    }
  }
}
</script>
<style lang="css">



</style>
