<template>

   <a class="card" :href="toot.url" >
      <!-- template v-if="toot.card && toot.card.html">
          <IFramePlayer height="(toot.card.height > 200)?false:toot.card.height" class="toot-embed" :embed="toot.card.html" ></IFramePlayer>
        </template-->
      <template v-if="media">
          <template >
            <figure>
              <div class="mb-2 bg-cover bg-center aspect-video" v-if="media.type == 'image'" :style="`background-image: url('${media.url}');`"></div>
            </figure>
          </template>
        </template>
        <template v-else>
          <div class="mb-2 bg-slate-200 bg-contain bg-no-repeat bg-center aspect-video" v-if="true" :style="`background-image: url('${toot.account.avatar}');`"></div>
        </template>
        <div class="flex items-center space-x-4 mb-2">
          <img class="w-10 h-10 rounded-full" :src="toot.account.avatar" :name="toot.account.username" :alt="`avatar of ${toot.account.username}`">
          <div class="font-medium ">
              <div class="text-gray-500"><a :href="toot.account.url">@{{ toot.account.username}}</a></div>
              <div class="text-sm text-gray-500 dark:text-gray-400">{{$localDate(toot.created_at) +' - '+ $localTimes(toot.created_at) }}</div>
          </div>
      </div>
      <!-- <h4 class="title">Cultuurconnect: transforming policy through shared ambition</h4> -->
      <div class="toot-body" v-html="cleanedContent"></div>
      <p class="meta">
        {{$t('toot.replies')}}: {{toot.replies_count }}<br />
        {{$t('toot.reblogs')}}: {{toot.reblogs_count }}<br/>
        
      </p>
     
  </a>

  
</template>

<script lang="js">

export default {
  name: 'TootCard',
  components: { },
  props: ['content'],
  setup(props) {
  },
  computed: {
    toot() {
      if (this.content.reblog) return this.content.reblog
      return this.content
    },
    cleanedContent() {
      let content = this.toot.content;
      //content = content.replace(/<p[^>]*>/g,"");
      //content = content.replace(/<\/p>/g,"</p><p class=\"description\">");
      
      return content
    },
    media() {
      if (this.toot.media_attachments && this.toot.media_attachments.length >0) {
        if (!this.toot.media_attachments[0].url.match(/mp4$/)) {
          return this.toot.media_attachments[0];
        }
      }
      return false;
    }
  },
  methods: {
    go(uri) {
      window.location.href = uri
    }
  },
  data () {
    return {
    }
  },
}
</script>

<style lang="scss">
.toot-body {
  p {
    font-size: 16px;
  }
}
</style>
