<template>

  <section class="columns columns--4">
    <NuxtLink class="card" :to="localePath(`/session/${event.attributes.slug}`)"  v-for="event in theEvents" :key="event.id">
        <figure >
            <div class="bg-cover bg-center aspect-video" :style="`background-image: url( ${$img(event.attributes.image, 'thumbnail') || '/thumb.jpg'})`"></div>
        </figure>
        <p class="description">{{$localize(event,'name')}}</p>
        <p class="meta">{{$localDate(event.attributes.start)}} - {{ $localTimes(event.attributes.start, event.attributes.end) }}</p>
    </NuxtLink>
  </section>
</template>
<script>

export default {
	name: 'VideoList',
  props: ['track','highlights','events'],

  computed: {

    theEvents() {

      if (this.events) {
        return this.events;
      }

      if (this.track) {
        return _.filter(this.$store.state.events,  (event)=> {
          return _.some(event.attributes.tracks.data,  (track)=> {
            return track.id == this.track.id
          });
        });
      }
      if (this.highlights) {

        return this.highlights.reduce((r,id)=>{
          const h = this.$store.state.events.find(e=>e.id == id.event);
          if (h) r.push(h)
          return r
        }, [])

      }
      return this.$store.state.events
    }
  }
}

</script>
<style lang="scss">



</style>