/*@tailwind base;*/
@tailwind components;
@tailwind utilities;


/* Small cards for People & Sponsor cards */
.card-mini {
  > * {
    grid-column: span 6 / span 12 !important;
    @screen sm {
                grid-column: span 3 / span 3 !important;
    }
  }
}
/* theme */
html {
  /* blue */
  /*--background: #32293d; --foreground: #66d6ff*/
  /* yellow */
  /*--foreground:  #ffde66; --background:  #2a3d29;
  /* red on light gray */
    --background: #ededf0; --foreground: #E1231E;
}

.excerpt p {
  @screen sm {
    width:  100% !important;
  }
}



.jumbo .text .title {
    font-size: 2.5rem;
    @media screen(sm) {
      font-size: 4rem;
    }
    /*hyphens: auto;*/
  }
