<template>
 <!-- <section>
   <section class="section" v-if="event.now || event.next"> -->
      <div class="live-area mb-4">
        <div class="live-player" >
          
              <h2 style="float: right">{{ $localTimes(theNow)}}</h2>
              <h2 >{{$t('lobby.nownext')}}</h2>

              <Transition mode="in-out">
                <div class="timetable" style="--background: #32293d;">
   
                      <!-- <NowNextRow v-for="location in locations" :location="location" :now="now"></NowNextRow>  -->
                      <ul class="columns columns--1">
                        <li class="lrow" v-for="location in locations" :key="location.id">
                          <div >
                              <h3><LocationTag  :location="{data:location}"></LocationTag><span class="loc">- {{$localize(location,'whereabouts')}}</span></h3>
                          </div>
                          <div class="description">
                            <NowNextRowSignage  :location="location" :theNow="theNow"></NowNextRowSignage>
                          </div>
                        </li>
                    </ul>
                  </div>

     
          </Transition>
        </div>
      </div>
<!--     </section>
    

  </section> -->
</template>

<script lang="js">

import RegisterForm from '~/components/RegisterForm';
export default {
  name: 'IndexPage',
  layout: 'fullscreen',
  components: {
    
  },
  computed: {
    theNow() {
      return this.$moment(this.now).add(parseInt(this.$route.query.offset) || 0,'minute').toDate();
    },
    // event() {

    //   const events = this.$store.getters['eventsByLocation'](parseInt(this.$route.params.channel));

    //   if (!events) return false;

    //   const upcoming = events.findIndex(e=>{
    //     return this.theNow.getTime() < (new Date(e.attributes.start)).getTime();
    //   })

    //   if (upcoming === -1) return {
    //     now: events[events.length -1 ],
    //     next: null
    //   };

    //   if (upcoming === 0) return {
    //     now: null,
    //     next: events[0]
    //   }

    //   return { 
    //     now: events[upcoming -1 ],
    //     next:events[upcoming ]
    //   };


    //   return events[events.length-1]
    // },
    
    events() {

      const theDay = this.$moment(this.theNow);
      return _.filter(this.$store.state.events,  (event)=> {
          return this.$moment(event.attributes.start).isSame(theDay, "day") 
      });
    },
    locations() {
      //return this.$store.state.locations;
      const usedEvents = _.uniq(this.events.map(l=>{
        return l.attributes.location.data.id}
       ))
      return _.filter(this.$store.state.locations,  (locations)=> {
        if (locations.id == 11) return false;
        if (locations.id == 21) return false;
        return usedEvents.indexOf(locations.id) > -1
      });
    }
  },
  data () {
    return {
    }

  },
  created() {
    
  },
  
  head() {
      return {
        sticky:false,
        title: this.$i18n.t('nav.livestream')+ " - " + this.$i18n.t('site.title')
      }
  }
}
</script>


<style  lang="scss">

  body{
    max-width: 1920px;
  }


  .live-area {
    background-image: url('/background2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 4rem;
    color: white;

    ul {
      list-style-type: none;
    }

    h2 {
      font-weight: 800;
      font-size: 84px;
      margin-bottom: 40px;

      
    }

    h3 {
      font-weight: 800;
      font-size: 32px;
      span.loc {
        font-weight: 400;
      }
    }

    h4.now {
      font-weight: 800;
      font-size: 52px;
    }
    h4.next {
      font-weight: 400;
      font-size: 52px;
    }
    .lrow {
      min-height: 180px;
    }
    .description {
      padding-left: 50px;
    }

  }

  .live-player {
    // max-width: 800px;
    // margin:auto;
    // margin-bottom: 0;

  }

  .timetable--live {

    ProgramGridItem {

    }
  }
  .live-chat {
    max-width: 100%;
    
    @include responsive($md) {
      padding: 0;
    }
    margin: 20px auto 0 auto;

  }
  // .live-now {
  //   max-width: 800px;
    

  // }

  .speakers {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: var(--sizes-1);
        padding: var(--sizes-2) 0;

        @include responsive($md) {
          grid-template-columns: repeat(2, 1fr);
          padding: var(--sizes-2) 0;
        }

        
      }



</style>