
<template>
  <section>

    <section class="jumbo" :class="{'jumbo--image-none':!event.attributes.image.data}">
        <div class="text">
            <h1 class="title">{{ $localize(event,'name') }}</h1>
            <div class="excerpt">
                <p class="small" v-if="$localize(event,'headline')">{{ $localize(event,'headline') }}</p>

                <!-- <div class="cta">
                    <a class="button button--inverted" href="#">Primary button</a>
                    <a href="#">Secundary button</a>
                </div> -->
                <div class="meta" >

                  {{ $localDate(event.attributes.start) }} {{ $localTimes(event.attributes.start, event.attributes.end) }}
                   <template v-if="event.attributes.location.data">@ <LocationTag  :location="event.attributes.location" style="color: var(--foreground)"></LocationTag></template>
                    
                   <p class="small mt-2 italic">{{$t('event.language.'+event.attributes.language)}}
                    <template v-if="event.attributes.hotness !== null"><template v-for="hot in event.attributes.hotness">🌶️</template>
                    </template></p>
                   <p></p>
                     <p class="small mt-2" v-if="!showtime && livestreamed && !passed">
                      {{$t('sessions.livestreamed')}}
                    </p>

                      <p class="small mt-2" v-if="event.attributes.location.data && showtime && livestreamed && !passed">{{ $t('sessions.islive',{time:$localTimes(event.attributes.start), location:$localize(event.attributes.location.data,'name')})}}
                      </p>
                      <div class="cta">
                        <NuxtLink v-if="event.attributes.location.data && showtime && livestreamed" class="button" :to="localePath(`/live/${event.attributes.location.data.id}`)"  >{{$t('nav.livestream')}} {{$localize(event.attributes.location.data,'name')}}</NuxtLink>
                        <a v-if="false && showtime" class="button button--inverted" style="--icon: '✎'" :href="`https://pad.publicspaces.net/p/${event.attributes.slug}`" target="_blank"  >{{$t('session.livenotes')}}</a>
                      </div>
               </div>
            </div>
        </div>
        <template v-if="event.attributes.image.data">
           <figure >
          <img  :src="$img(event.attributes.image, 'medium')" />
          <figcaption v-if="event.attributes.image.data.attributes.caption">{{event.attributes.image.data.attributes.caption}}</figcaption>
          </figure>
        </template>
    </section>

    <section class="section" v-if="event.attributes.video">
      <h3 class="heading">{{$t('session.ondemand')}}</h3>
            <IFramePlayer :embed="event.attributes.video" ></IFramePlayer>
    
    </section>

    <section class="section" v-if="event.attributes.audio_url">
      <h3 class="heading">{{$t('session.podcast')}}</h3>
            <IFramePlayer :height="130" :url="event.attributes.audio_url" ></IFramePlayer>
    
    </section>


    <section class="section">
      <article class="article" >
        <main>
          <StrapiContent v-if="(event.attributes.wf_done !== false) && $localize(event,'description')" :content="$localize(event,'description')"></StrapiContent>
          <p v-else>
            {{$t('session.soon')}}
          </p>
        </main>
      </article>
    </section>
    <section class="section" v-if="event.attributes.notes">
    <h3 class="heading">{{$t('session.notes')}}</h3>
    <section class="columns columns--2">
        <div class="column column--narrow">
            <p class="small"></p>
        </div>
        <div class="column column--wide event-notes ">
            <p>{{$t('session.notes_intro')}}</p>
            <a v-if="true" class="button button--inline" style="--icon: '✎'" @click="showNotes = true;"  >{{$t('session.shownotes')}}</a>
            <div v-show="showNotes" class="notesContainer">
              <StrapiContent :content="event.attributes.notes"></StrapiContent>
            </div>
        </div>
    </section>
</section>

    <SpeakersSection  :speakers="event.attributes.speakers" :hosts="event.attributes.hosts" />
      

  
  </section>
</template>

<script lang="js">

import IFramePlayer from '~/components/IFramePlayer';
import LocationTag from '~/components/LocationTag';
import SpeakerAvatar from '~/components/SpeakerAvatar';

export default {
  name: 'EventPage',
  components: { },
  
  computed: {
    event() {
      return this.$store.getters['eventBySlug']( this.$route.params.slug )
    },
    now() {
      return this.$moment(this.event.attributes.start).isSame(new Date(), "day");
    },
    passed() {
      return this.$moment(this.event.attributes.start).isBefore(new Date(), "day");
    },
    livestreamed() {
      return this.event.attributes.livestream && this.event.attributes.location.data && this.event.attributes.location.data.attributes.stream.data
    }
  },
  async validate({ params, store }) {
    if (!store.getters['eventBySlug']( params.slug )) return false;
    return true;
  },
  jsonld() {

    const jsonld = {
      '@context': 'https://schema.org',
      '@type': 'Event',
      name: this.$localize(this.event,'name'),
      description:this.$localize(this.event,'headline'),
      startDate: this.$moment(this.event.attributes.start).toISOString(),
      image:this.$img(this.event.attributes.image, 'medium'),
      eventAttendanceMode: 'https://schema.org/MixedEventAttendanceMode',
      eventStatus: 'https://schema.org/EventScheduled',
      superEvent: {
        "@type": "EventSeries",
        "name": `${this.$t('nav.program')} ${this.$localDate(this.event.attributes.start)}`,
        "url": this.localePath(`/date/${this.$moment(this.event.attributes.start).format("YYYY-MM-DD")}`)
      },
      inLanguage: {
        "@type": "Language",
        "name": this.$t(`language.${this.event.attributes.language}`),
        "alternateName": this.event.attributes.language
      },
      isAccessibleForFree: true,
      location: {
        "@type": "Place",
        "name": this.event.attributes.location.data ? this.$localize(this.event.attributes.location.data,'name') : null
      },
      organizer:{
          "@type": "Organization",
          "name": "PublicSpaces",
          "url": "https://publicspaces.net"
      }
    };

    const performers = [];
    if (this.event.attributes.speakers.data.length > 0) {
      for (let speaker of this.event.attributes.speakers.data) {
        performers.push({
          "@type":"Person",
          "image": this.$ava(speaker.attributes.avatar),
          "name": speaker.attributes.name,
          "url": this.localePath(`/people/${speaker.attributes.slug}`)
        })
      }
    }
    if (this.event.attributes.hosts.data.length > 0) {
      const performers = [];
      for (let speaker of this.event.attributes.hosts.data) {
        performers.push({
          "@type":"Person",
          "image": this.$ava(speaker.attributes.avatar),
          "name": speaker.attributes.name,
          "url": `/people/${speaker.attributes.slug}`
        })
      }
    }

    jsonld.performers = performers;

    if (this.event.attributes.video) {
      const m = this.event.attributes.video.match(/src=\"([^"]*)\"/msi)
      if (m) {
        const embedUrl = m[1];
        const videoUrl = embedUrl.includes("video.publicspaces") ? embedUrl.replace("videos/embed","w") : embedUrl;
        jsonld.recordedIn =  {
          "@type": "CreativeWork",
          "video": {
            "@type": "VideoObject",
            //"description": this.$localize(this.event,'description'),
            "name": this.$localize(this.event,'name'),
            "embedUrl": embedUrl,
            "sameAs": videoUrl,
            "url": videoUrl
          }
        }
      }
    }

    return jsonld;
  },
  data () {
    return {
      showNotes: false
    }
  },
  head() {
      return {
        title: this.$localize(this.event,'name') + " " + this.$i18n.t('site.title')
      }
  }
}
</script>

<style lang="scss">
  .notesContainer {
    margin-top: 20px;
    padding: 20px;
    background-color: var(--background);


  }
  .event-notes {
      
    .button--inline {
      display: inline;
    }
    p {
      margin-bottom: 20px;
    }
    font-size: 0.8rem;
   
    h1{
     font-size: 1.5rem;
   }
   h2{
     font-size: 1.2rem;
   }
   ul {
    margin-left: 15px;
   }  
  }
</style>
