<template>
  <!-- <CThemeProvider>
    <CColorModeProvider>
      <CBox font-family="body" as="main">
        <CReset />
        <Nav />
        <Nuxt />
        <Footer />
      </CBox>
    </CColorModeProvider>
  </CThemeProvider> -->

<!-- some components can be themed by adding a style="--background: #color; --foreground: #color" attribute -->
<div @click="closeMenu">
  <Nav />
  <Nuxt />
  <Footer />
</div>
</template>
<script>

import globals from '~/mixin/globals.js'
import Vue from 'vue';
Vue.mixin(globals)


export default {
  name: "DefaultLayout",
  components: {

  },
  head() {
      return {
        htmlAttrs: {
          lang: this.$i18n.locale
        }
      }
  },
  created() {
    var self = this
    if (process.client) setInterval(function () {
        self.$store.dispatch('updateNow');
    }, 5000);
  },
  methods: {
    closeMenu(event) {
        if (event.target.closest('.header') && (event.target.tagName === 'INPUT' || event.target.tagName === 'LABEL')) {
            return;
        } else {
            var checkboxes = document.querySelectorAll('.header input[type="checkbox"]');
            for (var i = 0; i < checkboxes.length; i++) {
                checkboxes[i].checked = false;
            }
        }
    }
  }
};
</script>
<style lang="scss">

   .content {
       a {
        text-decoration: underline;
        color: #E1231E !important;

        span {
          color: #E1231E !important;
        }
      }
   }

  

</style>
