<template>
  <section>
        <section class="section">
            <div class="tablist" role="tablist">
              <button
                role="tab"
                v-for="day in dates"
                :key="1000+ day.id"
                :aria-selected="localePath(`/date/${day.slug}`) == $route.path"
                @click="go(localePath(`/date/${day.slug}`))" 
            >{{day.full}}</button>
            </div>
            <p class="small">{{ $t('event.pepper') }}</p>
        </section>
        <section class="section" style="--background: #32293d;">
            <!-- Timetable based on https://codepen.io/mrwweb/pen/rgPOOd -->
            <div class="timetable timetable--compact timetable--tracks-5" style="">
                <div class="schedule" aria-labelledby="schedule-heading">
                    <div class="schedule-heading">
                        <span v-for="(location,index) in locations" :key="location.id" v-if="location.attributes.order <= 5" class="track-slot" aria-hidden="true" :style="`grid-column: track-${location.attributes.order}; grid-row: tracks`">{{ $localize(location,'name') }}</span>
                    </div>

                    <template v-for="part in groupedEvents" >
                      <h2 v-if="true" class="time-slot" :style="`grid-row: time-${part.hour}00`">{{part.hour}}:00</h2>
                    <ProgramGridItem v-for="event in part.items"  :key="event.id" :event="event" :locations="locations" cols="5"></ProgramGridItem>
                    </template>
                </div>
            </div>
        </section>





  </section>
 </template>

<script lang="js">

import { CHeading, CText, CTag, CGrid, CGridItem  } from '@chakra-ui/vue';


export default {
  name: 'ContentPage',
  components: { CHeading, CText ,CTag },
  methods: {
    go(uri){
      this.$router.push(uri)
    },
    firstTime(event, index) {
      if (index == 0) this.hours=[];
      const hour = this.$localTimes(event.attributes.start).substr(0,2);
      if (this.hours.indexOf(hour) > -1) {
        return false;
      }
      this.hours.push(hour);
      return true;
    }
  },
  computed: {
    track() {
      return this.$store.getters['trackBySlug']( 'makers') 
    },
    date() {
      return this.$route.params.slug
    },
    groupedEvents() {

      let newEvents = [];

      for(let item of this.events){
        let hour = this.$localTimes(item.attributes.start).substr(0,2);
        let existingType = newEvents.find(typeItem => typeItem.hour === hour);
        if(existingType){
          existingType.items.push(item);
        }else{
          newEvents.push({
            hour: hour,
            items: [item]
          });
        }
      }


      return newEvents;
    },
    events() {
      return _.filter(this.$store.state.events,  (event)=> {
          return event.attributes.start.substr(0,10) == this.$route.params.slug
      });
    },
    trackHeight() {
      return 185;
    },
    locations() {

      const usedEvents = _.uniq(_.filter(this.events,lf=>lf.attributes.location.data?true:false).map(l=>l.attributes.location.data.id))
      return _.filter(this.$store.state.locations,  (locations)=> {
        //if (locations.attributes.order >=5) return false;
        return usedEvents.indexOf(locations.id) > -1
      });
    }
  },
  async validate({ params, store }) {
    return true;
    if (!store.getters['trackBySlug']( params.slug )) return false;
    return true;
  },
  data () {
    return {
      lastDate: null,
      hours: []
    }
  },
  head() {
      return {
        title: this.$localize(this.track,'name') + " " + this.$i18n.t('site.title')
      }
  },
  jsonld() {

    const jsonld = {
      '@context': 'https://schema.org',
      '@type': 'EventSeries',
      name: `${this.$t('nav.program')} ${this.events.length>0?this.$localDate(this.events[0].attributes.start):''}`,
      eventAttendanceMode: 'https://schema.org/MixedEventAttendanceMode',
      eventStatus: 'https://schema.org/EventScheduled',
      isAccessibleForFree: true,
      organizer:{
          "@type": "Organization",
          "name": "PublicSpaces",
          "url": "https://publicspaces.net"
      }
    };

    const subEvents = [];
    if (this.events.length > 0) {
      for (let event of this.events) {
        if (event.attributes.type == 'break') continue;
        subEvents.push({
          "@type":"Event",
          "name": this.$localize(event,'name'),
          "startDate": this.$moment(event.attributes.start).toISOString(),
          "url": `/session/${event.attributes.slug}`
        })
      }
    }
 

    jsonld.subEvents = subEvents;

    return jsonld;
  },
}
</script>

<style lang="scss">
 .timetable .schedule-heading {
  z-index: 1000 !important;
  background-color: white;
 }
</style>
