<template>
  <section>
    <section class="jumbo" :class="{'jumbo--image-none':content.attributes.image.data == null}">
      <div class="text">
          <h1 class="title" v-html="$localize(content,'title')"></h1>
          <div class="excerpt" v-if="$localize(content,'headline') ">
              <p class="small">{{ $localize(content,'headline') }}</p>
              
          </div>
      </div>
      <figure v-if="content.attributes.image.data">
          <img :src="$img(content.attributes.image, 'medium')" alt="" />
          <figcaption v-if="content.attributes.image.data.attributes.caption">{{content.attributes.image.data.attributes.caption}}</figcaption>
      </figure>
  </section>
  <section v-if="content.attributes.type !== 'jumbo'" class="section">
      <!-- <h2 class="heading" v-html="$localize(content,'title')"></h2> -->
      <!-- Components -->
      <article class="article">
        <main>
          <StrapiContent :content="$localize(content,'body')"></StrapiContent>
        </main>
      </article>
  </section>
  <JumboSection v-else :jumbos="$localize(content,'jumbos')"></JumboSection>
</section>

</template>

<script lang="js">



import JumboSection from '~/components/JumboSection';
export default {
  name: 'IndexPage',
  components: {
  },
  computed: {
    content() {
      return this.$store.getters['pageBySlug']( this.$route.params.page )
    }
  },
  data () {
    return {
    }

  },
  async validate({ params, store }) {
    if (!store.getters['pageBySlug']( params.page )) return false;
    return true;
  },
  head() {
      return {
       title: this.$localize(this.content,'title')  + " - " + this.$i18n.t('site.title')
      }
  }
}
</script>


<style lang="scss">
.register-header {
  margin: var(--sizes-16) 0;
  padding: var(--sizes-4) var(--sizes-4);

  @include responsive($md) {
    display: grid;
    grid-template-columns: minmax(26.3%, 260px) 1fr ;
  }

  @include responsive($lg) {
    padding: var(--sizes-4) var(--sizes-8);
    grid-template-columns: minmax(26.3%, 260px) 1fr ;
  }

  .title {
    h1 {
      font-size: var(--fontSizes-6xl);
      line-height: var(--lineHeights-none);
    }

    .datetime {
      margin: 0 0 var(--sizes-4) 0;
    }

    button, a {
      margin: 0 var(--sizes-2) var(--sizes-2) 0;
    }
  }



  .description {
    margin-top: var(--sizes-8);

    @include responsive($md) {
      margin-top: 0;
      margin-left: var(--sizes-8);
      max-width: var(--sizes-containers-sm);
    }

    .other-topics {
      margin-top: var(--sizes-4);

      h2 {
        font-size: var(--fontSizes-md);
        margin-bottom: var(--sizes-4);
      }

      .stack {
        display: flex;
        flex-wrap: wrap;

        div {
          margin: 0 var(--sizes-2) var(--sizes-2) 0;
        }
      }
    }
  }
}

</style>
