<template>
  <div>
    <section class="jumbo" style="" >
      <div class="text">
          <h1 class="title">{{ $localize(currentEdition,'title') }}</h1>
          <div class="excerpt">
              <p class="small">{{ $localize(currentEdition,'subtitle') }}</p>
              <div class="cta">
                  <NuxtLink 
                    class="button button-themed-inverted" 
                    v-if="!showtime && settings.show_tickets && settings.tickets_page" 
                    :to="localePath('/tickets')">
                   {{$t('lobby.tickets')}}
                  </NuxtLink>

                  <NuxtLink 
                    class="button button-themed-inverted"
                    v-if="showtime && settings.show_program" 
                    :to="localePath('/date/2024-06-07')">{{$t('nav.program')}}
                  </NuxtLink>

                  <a 
                    class="button button-themed-inverted" 
                    v-if="!showtime && settings.show_tickets && !settings.tickets_page"
                    :href="$localize(currentEdition,'tickets_url')">
                   {{$t('lobby.tickets')}}
                  </a>

                  <NuxtLink v-if="settings.show_signup && !settings.show_program" as="NuxtLink" :to="localePath('/register')"  :variant-color="settings.show_tickets?'gray':'green'">{{$t('lobby.signup')}}</NuxtLink>

                  <!-- <NuxtLink v-if="settings.show_program" :to="localePath('/date/2023-06-27')">{{$t('nav.program')}}</NuxtLink> -->
                  <a v-if="settings.show_program" target="_blank" :href="$t('lobby.route_link')">{{$t('lobby.route')}}</a>

              </div>
          </div>
      </div>
      <figure>
          <template v-if="currentEdition.attributes.embed">
            <IFramePlayer :embed="currentEdition.attributes.embed" ></IFramePlayer>
          </template>
          <template v-if="!currentEdition.attributes.embed && $localize(currentEdition,'poster').data">
            <img :src="$img($localize(currentEdition,'poster'), 'medium')" width="300" alt="" />
            <figcaption v-if="currentEdition.attributes.poster.data.attributes.caption">{{currentEdition.attributes.poster.data.attributes.caption}}</figcaption>
          </template>
      </figure>
    </section>

    <NowNext v-if="showtime"></NowNext>

  <section v-if="!showtime" class="section">
      <!-- <h2 class="heading">Article</h2> -->
      <article class="article" >
        <main>
        <StrapiContent v-if="!currentEdition.attributes.highlights || currentEdition.attributes.highlights.length == 0" :content="$localize(currentEdition,'body')"></StrapiContent>
        <StrapiContent v-else :content="$localize(currentEdition,'archive_body')"></StrapiContent>
        </main>
      </article>
  </section>
  <section class="section" v-if="currentEdition.attributes.highlights && currentEdition.attributes.highlights.length > 0">
      <h3 class="heading">{{$t('lobby.highlights')}}</h3>
      <section class="columns columns--2">
          <div class="column column--narrow">
             <!--  <p class="small" v-html="$localize(currentEdition,'archive_body')"></p> -->
          </div>
          <div class="column column--wide">
              <VideoList :highlights="currentEdition.attributes.highlights"></VideoList>
              <div class="flex mt-2 archive-button"> 
               <NuxtLink class="button button-archive" :to="localePath(`/archive/${currentEdition.attributes.slug}`)">{{$t('lobby.highlights.more')}}</NuxtLink>
             </div>
          </div>
      </section>
  </section>


        

       <!--  <CBox v-if="!settings.showtime" style="white-space: pre-line" class="content" v-html="$apiImages($localize(currentEdition,'body'))"></CBox> -->
        
<!--
        <CBox v-if="currentEdition.attributes.highlights && currentEdition.attributes.highlights.length > 0">
          <CHeading as="h4" size="md" mb="4">{{$t('lobby.highlights')}}</CHeading>
          <VideoList :highlights="currentEdition.attributes.highlights"></VideoList>
          <CFlex p="4" justify="center" align="center">
            <CButton as="NuxtLink" :to="localePath('/ondemand')">{{$t('lobby.highlights.more')}}</CButton>
          </CFlex>
        </CBox> 
        <div v-if="false" class="other-topics">
          <CHeading as="h2">{{$t('lobby.program')}}</CHeading>
          <div class="stack">
            <CTag
                v-for="day in dates"
                :key="1000+ day.id"
            >
            <NuxtLink :to="localePath(`/date/${day.slug}`)" >{{day.full}}</NuxtLink>
            </CTag>
          </div>
          <CHeading as="h2">{{$t('lobby.tracks')}}</CHeading>
          <div class="stack">
            <CTag
                v-for="tag in tracks"
                :key="tag.id"
            >
            <NuxtLink :to="localePath(`/track/${tag.attributes.slug}`)" >{{$localize(tag,"hashtag")}}</NuxtLink>
            </CTag>
          </div>
        </div>
      </div>
      
    </section> 

   <!--  <section class="lobby-heading">
      <CHeading as="h2">{{$t('lobby.news')}}</CHeading>
    </section>
    
    <section class="toots">
      <template  v-for="(toot,index) in news">
        <section class="toot-date" v-if="(index == 0) || (toot.created_at.substr(0,10)!=news[index -1].created_at.substr(0,10))">
          <CHeading as="h2">{{ $localDate(toot.created_at) }}</CHeading>
        </section>
        <TootCard
                   :key="toot.id"
                   :content="toot" />
      </template>
      <CFlex p="4" justify="center" align="center">
          <CButton as="a" href="https://social.publicspaces.net/@publicspaces">{{$t('lobby.toots.more')}}</CButton>
      </CFlex>
    </section>
-->


<!-- news 2 -->
<section class="section">
    <h2 class="heading">{{$t('lobby.news')}}</h2>
    <section class="columns columns--3">
        <TootCard v-for="(toot,index) in news" :key="toot.id"
                   :content="toot" />

    </section>
</section>

<!-- / news 2 -->


<section class="section">
    <h3 class="heading">{{$t('lobby.sponsors')}}</h3>
    <section class="columns columns--2">
        <div class="column column--narrow">
            <p class="small">{{$t('lobby.sponsors.body')}}</p>
        </div>
        <div class="column column--wide">
            <SponsorSection :edition="currentEdition" />
            
        </div>
    </section>
</section>



</div>
</template>

<script lang="js">


import Nav from '~/components/Nav';
import TootCard from '~/components/TootCard';
import NowNext from '~/components/NowNext';

import IFramePlayer from '~/components/IFramePlayer';

export default {
  name: 'LobbyPage',
  components: {},
  computed: {
    tracks () {
      return this.$store.state.tracks
    },
    content() {
      return this.$store.state.homepage
    },
    news() {
      return this.$store.state.news
    }
  },
  head() {
      return {
        title: this.$i18n.t('site.title')
      }
  }
}
</script>

<style lang="scss">
.archive-button {
  margin-top:40px;
}
  
</style>
