<template>
<BazaarSection type="art"></BazaarSection>
</template>
<script lang="js">
export default {
  name: 'Bazaar',


  head() {
      return {
        title: this.$i18n.t('art.title') + " - " + this.$i18n.t('site.title')
      }
  }
}
</script>
<style lang="scss">


</style>
