<template>
 <section class="section">
            <h3 class="heading">{{ $t('signup.title') }}</h3>
            <section class="columns columns--2">
                <div class="column column--narrow">
                    <p class="small">{{ $t('signup.subtitle') }}</p>
                </div>
                <div class="column column--wide">
                    <section class="columns columns--2">

                 <RegisterForm></RegisterForm>
     
             </section>
        </div>
    </section>
</section>
</template>
<script lang="js">

import RegisterForm from '~/components/RegisterForm';
export default {
  name: 'RegisterPage',
  inject: ['$chakraColorMode', '$toggleColorMode'],
  data () {
    return {
    }
  },
  head() {
      return {
        title: this.$i18n.t('signup.title') + " - " + this.$i18n.t('site.title')
      }
  }
}
</script>
<style lang="scss">


</style>
