<template>

  <section class="section">
    <h2 class="heading" v-html="$t('speakers.title')"></h2>
    <!-- Components -->
    <section class="columns columns--2">
        <div class="column column--narrow">
            <p class="small">{{$t('speakers.body')}}</p>
        </div>
        <div class="column column--wide">
            <section class="columns columns--4 card-mini">
                <NuxtLink class="card" :to="localePath(`/people/${speaker.attributes.slug}`)" v-for="speaker in people" :key="speaker.id">
                    <figure>
                       <div v-if="speaker.attributes.avatar.data" class="bg-cover bg-center aspect-square rounded-full" :style="`background-image: url( ${$ava(speaker.attributes.avatar)})`"></div>
                        <temaplte v-else>
                            <div v-if="settings.default_avatar && settings.default_avatar.data" class="bg-cover bg-center aspect-square rounded-full" :style="`background-image: url( ${$ava(settings.default_avatar)})`"></div>
                        </temaplte>
                    </figure>
                    <p class="description">{{ speaker.attributes.name }}</p>
                    <p class="meta">{{$localize(speaker,'headline')}}</p>
                </NuxtLink>
                
            </section>
        </div>
    </section>
</section>

 
</template>

<script lang="js">

import RegisterForm from '~/components/RegisterForm';
export default {
  name: 'IndexPage',
  components: {
    
  },
  computed: {
    people() {

      const speakers =  [...this.$store.state.people].sort((a,b)=>a.attributes.name.localeCompare(b.attributes.name) )
      return speakers.filter(s=>{
        if(_.find(s.attributes.events.data, (e)=>{
          return parseInt(e.attributes.start.substr(0,4)) ==  this.currentEdition.attributes.year;
        })) return true;

         // console.log(s)

        // if(_.find(s.attributes.events.data, (e)=>{
        //   return parseInt(e.attributes.start.substr(0,4)) ==  this.currentEdition.attributes.year;
        // })) return true;

        if (_.find(this.$store.state.events,  (event)=> {
          if (parseInt(event.attributes.start.substr(0,4)) !=  this.currentEdition.attributes.year) return false;
          return _.some(event.attributes.hosts.data,  (host)=> {
            return host.id == s.id
          });
        })) return true;
        return false;
      })
    }
  },
  data () {
    return {
    }

  },
  head() {
      return {
        title: this.$t('speakers.title')  + " - " + this.$i18n.t('site.title')
      }
  }
}
</script>


<style lang="scss">

</style>
