<template>
  <section class="section">
      <h3 class="heading">{{$localize(currentEdition,'tickets_title') }}</h3>
      <section class="columns columns--2">
          <div class="column column--narrow">
              <p class="small">{{ $localize(currentEdition,'tickets_subtitle') }}</p>
          </div>
          <div class="column column--wide">
              <section class="columns columns--2">
                <section class="section">
                  <!-- <h2 class="heading" v-html="$localize(content,'title')"></h2> -->
                  <!-- Components -->
                  <article class="article">
                    <StrapiContent :content="$localize(currentEdition,'tickets_body')"></StrapiContent>
                    <div class="" >
                    <a 
                      class="button button--themed-inverted"  
                      :href="$localize(currentEdition,'tickets_url')">
                     {{ $localize(currentEdition,'tickets_button') }}
                    </a>
                  </div>
                  </article>
                  
                </section>
              </section>
        </div>
    </section>
</section> 

</template>

<script lang="js">
import RegisterForm from '~/components/RegisterForm';
export default {
  name: 'TicketsPage',
  components: {
  },
  data () {
    return {
      content: {}
    }

  },
  computed: {
  },

  head() {
      return {
        title: this.$i18n.t('lobby.tickets') + " - " + this.$i18n.t('site.title')
      }
  }
}
</script>
<style lang="scss">

</style>
