<template>
 <section>
   <section class="section" v-if="event.now || event.next">
      <section class="flex container">
        <div class="mx-auto pb-2 flex">
          <NuxtLink class="button  ml-2 mx-auto" v-for="location in streamedLocations" :key="location.id" :to="localePath(`/live/${location.id}`)" >
            {{location.attributes.name}}
          </NuxtLink>
        </div>
      </section>
      <div class="live-area mb-4">
        <IFramePlayer class="live-player" :embed="embed.attributes.stream.data.attributes.embed" ></IFramePlayer>
      </div>
      <section class="timetable" style="--background: #32293d;">
        <ul class="columns columns--1">
            <NowNextRow :location="embed" :now="now"></NowNextRow>
        </ul>
      </section>
      <section class="w-full mx-auto">
         <div class="live-chat">   
          <CactusChat :room="`${$route.params.channel}`" class="live-chat"></CactusChat>
         </div>
      </section>
    </section>
    

  </section>
</template>

<script lang="js">

import RegisterForm from '~/components/RegisterForm';
export default {
  name: 'IndexPage',
  components: {
    
  },
  computed: {
    event() {

      const events = this.$store.getters['eventsByLocation'](parseInt(this.$route.params.channel));

      if (!events) return false;

      const upcoming = events.findIndex(e=>{
        return this.now.getTime() < (new Date(e.attributes.start)).getTime();
      })

      if (upcoming === -1) return {
        now: events[events.length -1 ],
        next: null
      };

      if (upcoming === 0) return {
        now: null,
        next: events[0]
      }

      return { 
        now: events[upcoming -1 ],
        next:events[upcoming ]
      };


      return events[events.length-1]
    },
    embed() {
      return this.$store.getters['locationById'](this.$route.params.channel)
    }
  },
  data () {
    return {
    }

  },
  created() {
    
  },
  async validate({ params, store }) {
    if (store.getters['eventsByLocation'](parseInt(params.channel)).length ==0) return false;
    return true;
  },
  head() {
      return {
        sticky:false,
        title: this.$i18n.t('nav.livestream') +" "+ this.embed.attributes.name + " - " + this.$i18n.t('site.title')
      }
  }
}
</script>


<style lang="scss">



  .live-area {
    background-image: url('/background2.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .live-player {
    max-width: 800px;
    margin:auto;
    margin-bottom: 0;

  }

  .timetable--live {

    ProgramGridItem {

    }
  }
  .live-chat {
    max-width: 100%;
    
    @include responsive($md) {
      padding: 0;
    }
    margin: 20px auto 0 auto;

  }
  // .live-now {
  //   max-width: 800px;
    

  // }

  .speakers {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: var(--sizes-1);
        padding: var(--sizes-2) 0;

        @include responsive($md) {
          grid-template-columns: repeat(2, 1fr);
          padding: var(--sizes-2) 0;
        }

        
      }



</style>